/*-----------------------------------------------------------------------------------------------
Project:  Mos7 - Responsive Bootstrap 3 App Landing Page Template
Version:  1.5.3
Last change:  13/09/2015
Design by:  TemplatesPRO.com.br

Components (line):
1) SLIDESHOW (88)
        - Media Queries - Slideshow - General (171)
    - Slideshow - Background Images (212)
    - Slideshow - Slide Text (231)
        - Media Queries - Slideshow - Slide Text (233)
    - Slideshow - Slide Form (238)
        - Media Queries - Slideshow - Slide Form (290)
    - Slideshow - Slide Image (344)
        - Media Queries - Slideshow - Slide Image (360)
    - Slideshow - Slide Video (408)
        - Media Queries - Slideshow - Slide Video (460)
    - Slideshow - Navigation (537)
    - Slideshow - Indicators (551)
    - Slideshow - Transition 1 (571)
    - Slideshow - Caption - Transition 1 (615)
    - Slideshow - Transition 2 (638)
    - Slideshow - Caption - Transition 2 (697)
    - Slideshow - Transition 3 (701)
2) FEATURES (733)
        - Media Queries - Features - General (814)
3) OVERVIEW (850)
        - Media Queries - Overview - General (869)
    - Overview - Tab 1 (880)
        - Media Queries - Overview - Tab 1 (884)
    - Overview - Tab 2 (909)
        - Media Queries - Overview - Tab 2 (913)
    - Overview - Tab 3 (933)
        - Media Queries - Overview - Tab 3 (937)
    - Overview - Tab Content (950)
        - Media Queries - Overview - Tab Content (1026)
    - Overview - Animation Images Tab 1 (1043)
        - Media Queries - Overview - Animation Images Tab 1 (1071)
    - Overview - Animation Images Tab 2 (1111)
        - Media Queries - Overview - Animation Images Tab 2 (1134)
    - Overview - Animation Images Tab 3 (1140)
        - Media Queries - Overview - Animation Images Tab 3 (1163)
    - Overview - Progress Bars (1188)
4) STATS (1214)
        - Media Queries - Stats - General (1281)
5) GALLERY (1298)
    - Gallery - Thumbnail (1307)
        - Media Queries - Gallery - Thumbnail (1378)
    - Gallery - Navigation (1387)
        - Media Queries - Gallery - Navigation (1405)
    - Gallery - Indicators (1411)
    - Gallery - Modal (1426)
6) TESTIMONIALS (1437)
    - Testimonials - Photo (1500)
    - Testimonials - Navigation (1567)
        - Media Queries - Testimonials - Navigation (1613)
7) PRICING (1621)
        - Media Queries - Pricing - General (1643)
    - Pricing - Popular Attached (1671)
        - Media Queries - Pricing - Popular Attached (1675)
    - Pricing - Badge Popular (1690)
        - Media Queries - Pricing - Badge Popular (1702)
    - Pricing - Price (1707)
    - Pricing - Features (1808)
8) CALL TO ACTION (1820)
        - Media Queries - Call To Action - General (1880)
9) TEAM (1890)
        - Media Queries - Team - General (1913)
    - Team - Photo (1930)
        - Media Queries - Team -Photo (2015)
    - Team - Content (2020)
    - Team - Social buttons (2034)
    - Team - Tooltips (2052)
10) CONTACT (2058)
        - Media Queries - Contact - General (2082)
    - Contact - Map (2090)
    - Contact - Icon Toggle (2104)
    - Contact - Vcard over the map (2134)
        - Media Queries - Contact - Vcard over the map (2192)
    - Contact - Form (2213)
        - Media Queries - Contact - Form (2239)
11) SOCIAL BUTTONS (2252)
    - Social Buttons - Tooltips (2277)
-----------------------------------------------------------------------------------------------*/

/***********************************************************************************************
 1) SLIDESHOW
 ***********************************************************************************************/

.slideshow {
  overflow: hidden;
  background-color: #000;
}
.slideshow .carousel { margin: 0 -15px; }

.slideshow .item {
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
}
.slideshow .item:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: .25;
}
.slideshow .carousel-inner>.item.active.left,
.slideshow .carousel-inner>.item.active.right {
  opacity: .5;
  -webkit-transition: all 0.6s ease-in-out;
     -moz-transition: all 0.6s ease-in-out;
      -ms-transition: all 0.6s ease-in-out;
       -o-transition: all 0.6s ease-in-out;
          transition: all 0.6s ease-in-out;
}

.slideshow .carousel-caption {
  position: absolute;
  left: 0;
  top: 45%;
  right: 0;
  bottom: auto;
  padding: 0;
  margin: auto;
  width: 70%;
  -webkit-transform: translateY(-45%);
     -moz-transform: translateY(-45%);
      -ms-transform: translateY(-45%);
       -o-transform: translateY(-45%);
          transform: translateY(-45%);
  -webkit-transition: all 0.45s ease-out;
     -moz-transition: all 0.45s ease-out;
      -ms-transition: all 0.45s ease-out;
       -o-transition: all 0.45s ease-out;
          transition: all 0.45s ease-out;
}

.slideshow .title {
  margin: 0 0 13%;
  font-size: 1.6em;
}
.slideshow .brand {
  margin: 10% 0 0;
  display: block;
  font-size: 2em;
  font-weight: lighter;
}
.slideshow .brand span { color: #d9534f; }

.slideshow .btn {
  padding: 12px 24px 13px;
  margin: 0 20px;
  border: 2px solid #d9534f;
  width: 70%;
  font-size: 1.1em;
  background-color: rgba(217, 83, 79, 0.15);
}
.slideshow .btn + .btn { margin: 5% 20px 0; }
.slideshow .btn:hover {
  border: 2px solid #d9534f;
  background-color: #d9534f;
}
.slideshow .btn span { margin-right: 10px; }

/*.................................................. Media Queries - Slideshow - General */
@media (min-width: 480px) {
  .slideshow .title { font-size: 1.9em; }
  .slideshow .brand { font-size: 2em; }

  .slideshow .btn { font-size: 1.2em; }
}

@media (min-width: 768px) {
  .slideshow .title { margin: 0 0 10%; }
  .slideshow .brand { margin: 7% 0 0; }

  .slideshow .btn {
    padding: 2.2% 5% 2.5%;
    width: auto;
    font-size: 1.3em
  }
  .slideshow .btn + .btn { margin: 0 20px; }
}

@media (min-width: 992px) {
  .slideshow .title {
    margin: 0 0 7%;
    font-size: 2em;
  }
  .slideshow .brand {
    margin: 5% 0 0;
    font-size: 2.4em;
  }
}

@media (min-width: 1200px) {
  .slideshow .title { font-size: 2.6em; }
  .slideshow .brand { font-size: 2.6em; }

  .slideshow .btn {
    padding: 1.5% 3.5% 1.8%;
    font-size: 1.5em
  }
}

/*.............................................................................................. Slideshow - Background Images */
.slideshow .img-responsive { width: auto; }
.slideshow .bg-item {
  position: absolute;
  top:0;
  bottom:0;
  left: 50%;
  margin:auto;
  width:auto;
  height:auto;
  min-width:100%;
  min-height:100%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
}

/*.............................................................................................. Slideshow - Slide Text */

/*.................................................. Media Queries - Slideshow - Slide Text */
@media (min-width: 768px) {
  .slideshow .slide-text .title { font-size: 2.6em; }
}

/*.............................................................................................. Slideshow - Slide Form */
.slideshow .slide-form .title {
  margin: 0 0 7%;
  font-size: 1.4em;
}
.slideshow .slide-form .brand {
  margin: 3.5% 0 0;
  font-size: 1.8em;
}

.slideshow .slide-form .btn-form {
  padding: 12px 20px 13px 15px;
  margin: 0;
  width: 100%;
}
.slideshow .slide-form .panel .btn {
  margin: 0;
  width: 100%;
  background-color: #d9534f;
  box-shadow: 0 0 0 7px rgba(0,0,0,.1);
}
.slideshow .slide-form .panel .btn:hover {
  border-color: #c9302c;
  background-color: #c9302c;
}

.slideshow .countdown .count {
  padding: 5px 0;
  margin-bottom: 10px;
  width: 66px;
  border-radius: 10px;
  background-color: #d9534f;
}
.slideshow .countdown strong {
  display: block;
  font-size: 1.5em;
}

.slideshow .panel-subscription {
  background-color: rgba(78, 93, 108, 0.7);
  box-shadow: 0 0 10px rgba(0,0,0,.3);
}
.slideshow .panel-subscription .panel-heading { background-color: rgba(78, 93, 108, 0.85); }
.slideshow .panel-subscription .panel-footer {
  padding: 0 25px 25px;
  background-color: transparent;
}
.slideshow .panel-subscription h3 { margin: 10px 0; }
.slideshow .panel-subscription .panel-body { padding: 25px; }
.slideshow .panel-subscription .form-group:last-child,
#modal-slide-form .form-group:last-child { margin-bottom: 0; }

/*.................................................. Media Queries - Slideshow - Slide Form */
@media (min-width: 768px) {
  .slideshow .slide-form .title {
    margin: 0 0 5%;
    font-size: 1.6em;
  }
  .slideshow .slide-form .brand {
    margin: 3% 0 0;
    font-size: 2em;
  }

  .slideshow .countdown { margin-bottom: 30px; }
  .slideshow .countdown .count {
    padding: 10px;
    width: 80px;
  }
  .slideshow .countdown strong { font-size: 2em; }
}

@media (min-width: 992px) {
  .slideshow .slide-form .title {
    margin: 0 0 15%;
    font-size: 2em;
  }
  .slideshow .slide-form .brand {
    margin: 10% 0 0;
    font-size: 2.4em;
  }

  .slideshow .countdown { margin-bottom: 0; }
  .slideshow .countdown .count { width: 70px; }
}

@media (min-width: 1200px) {
  .slideshow .slide-form .title {
    margin: 0 0 14%;
    font-size: 2.2em;
  }
  .slideshow .slide-form .brand {
    margin: 10% 0 0;
    font-size: 2.6em;
  }

  .slideshow .countdown .count { width: 80px; }
}

@media (min-width: 1400px) {
  .slideshow .slide-form .title {
    margin: 0 0 8%;
    font-size: 2.6em;
  }
  .slideshow .slide-form .brand { margin: 5% 0 0; }
}

/*.............................................................................................. Slideshow - Slide Image */
.slideshow .slide-image .c4 { visibility: hidden; }
.slideshow .slide-image .c5 {
  position: absolute;
  top: 45%;
  right: 0;
  bottom: auto;
  padding: 0;
  margin: auto;
  -webkit-transform: translateY(-45%);
     -moz-transform: translateY(-45%);
      -ms-transform: translateY(-45%);
       -o-transform: translateY(-45%);
          transform: translateY(-45%);
}

/*.................................................. Media Queries - Slideshow - Slide Image */
@media (min-width: 768px) {
  .slideshow .slide-image .c4 { visibility: visible; }
  .slideshow .slide-image .c5 {
    top: 50%;
    padding: 0 0 0 30px;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .slideshow .slide-image .title {
    margin: 0 0 14%;
    font-size: 2em;
  }
  .slideshow .slide-image .brand { margin: 10% 0 0; }

  .slideshow .slide-image .btn {
    padding: 3.8% 5% 4.2%;
    margin: 0 5px 0 0;
    font-size: 1.1em;
  }
  .slideshow .slide-image .btn + .btn { margin: 0 0 0 5px; }
}

@media (min-width: 992px) {
  .slideshow .slide-image .title { margin: 0 0 10%; }
  .slideshow .slide-image .brand { margin: 7% 0 0; }

  .slideshow .slide-image .btn {
    padding: 3.5% 5% 3.8%;
    margin: 0 10px 0 0;
    font-size: 1.2em;
  }
  .slideshow .slide-image .btn + .btn { margin: 0 0 0 10px; }
}

@media (min-width: 1200px) {
  .slideshow .slide-image .c5 { padding: 0 15px; }

  .slideshow .slide-image .title { font-size: 2.4em; }
  .slideshow .slide-image .brand { font-size: 2.4em; }

  .slideshow .slide-image .btn { padding: 2.4% 5% 2.8%; }
}

/*.............................................................................................. Slideshow - Slide Video */
.slideshow .slide-video .c6 {
  position: absolute;
  top: 45%;
  right: 0;
  bottom: auto;
  padding: 0;
  margin: auto;
  -webkit-transform: translateY(-45%);
     -moz-transform: translateY(-45%);
      -ms-transform: translateY(-45%);
       -o-transform: translateY(-45%);
          transform: translateY(-45%);
}
.slideshow .slide-video .c7 { padding: 0; }

.slideshow .slide-video .title {
  margin: 0 0 3%;
  font-size: 1.3em;
}
.slideshow .slide-video .brand {
  margin: 6% 0 0;
  font-size: 1.8em;
}

.slideshow .slide-video .btn { margin: 5% auto 0; }
.slideshow .slide-video .btn-video {
  padding: 12px 0 13px;
  font-size: 1em;
}

.slideshow .embed-responsive {
  background-color: #2b3e50;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
}
.slideshow .embed-responsive:before {
  content: "VIDEO";
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  font-size: 2em;
  text-align: center;
  color: #fff;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}

/*.................................................. Media Queries - Slideshow - Slide Video */
@media (min-width: 360px) {
  .slideshow .slide-video .btn-video { font-size: 1.1em; }
}

@media (min-width: 768px) {
  .slideshow .slide-video .c6 {
    top: 50%;
    padding: 0 0 0 30px;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .slideshow .slide-video .c7 { padding-top: 3%; }
  .slideshow .slide-video .c6 {
    position: static;
    top: auto;
    right: auto;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }

  .slideshow .embed-responsive.embed-responsive-4by3 { padding-bottom: 50%; }

  .slideshow .slide-video .title {
    margin: 0 0 4%;
    font-size: 2em;
  }
  .slideshow .slide-video .brand { margin: 2% 0 0; }

  .slideshow .slide-video .btn {
    padding: 2% 5% 2.25%;
    margin: 0 10px;
    font-size: 1.2em
  }
}

@media (min-width: 992px) {
  .slideshow .slide-video .c6 { max-height: none; }
  .slideshow .slide-video .c7 { padding-top: 0; }
  .slideshow .slide-video .c6 {
    position: absolute;
    top: 50%;
    right: 0;
    padding: 0 0 0 30px;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .slideshow .embed-responsive.embed-responsive-4by3 { padding-bottom: 75%; }

  .slideshow .slide-video .title { margin: 0 0 13%; }
  .slideshow .slide-video .brand { margin: 9% 0 0; }

  .slideshow .slide-video .btn {
    padding: 3.8% 4% 4.2%;
    margin: 0 5px 0 0;
    font-size: 1.2em;
  }
  .slideshow .slide-video .btn + .btn { margin: 0 0 0 5px; }
}

@media (min-width: 1200px) {
  .slideshow .slide-video .title { font-size: 2.4em; }
  .slideshow .slide-video .brand { font-size: 2.4em; }

  .slideshow .slide-video .btn { padding: 3.2% 5% 3.5%; }
}

/*.............................................................................................. Slideshow - Navigation */
.slideshow .carousel-control .fa-angle-left,
.slideshow .carousel-control .fa-angle-right {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 20px;
  height: 50px;
  font-size: 2.5em;
}

/*.............................................................................................. Slideshow - Indicators */
.slideshow .carousel-indicators li,
.slideshow .carousel-indicators .active {
  margin: 0 7px;
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}
.slideshow .carousel-indicators li:hover { border: 1px solid #d9534f; }
.slideshow .carousel-indicators .active {
  border: 1px solid #d9534f;
  background-color: #d9534f;
}

/*.............................................................................................. Slideshow - Transition 1 */
body.sld-transition-1 .slideshow .carousel-inner>.item.active {
  opacity: 1;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.25s ease-out;
     -moz-transition: all 0.25s ease-out;
      -ms-transition: all 0.25s ease-out;
       -o-transition: all 0.25s ease-out;
          transition: all 0.25s ease-out;
}
body.sld-transition-1 .slideshow .carousel-inner>.item.active.left,
body.sld-transition-1 .slideshow .carousel-inner>.item.active.right {
  left: 0;
  opacity: 0;
  -webkit-transform: scale(.85);
     -moz-transform: scale(.85);
      -ms-transform: scale(.85);
       -o-transform: scale(.85);
          transform: scale(.85);
  -webkit-transition: all 0.6s ease-out;
     -moz-transition: all 0.6s ease-out;
      -ms-transition: all 0.6s ease-out;
       -o-transition: all 0.6s ease-out;
          transition: all 0.6s ease-out;
}
body.sld-transition-1 .slideshow .carousel-inner>.item.next.left,
body.sld-transition-1 .slideshow .carousel-inner>.item.prev.right {
  opacity: .65;
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s ease-out;
     -moz-transition: all 0.5s ease-out;
      -ms-transition: all 0.5s ease-out;
       -o-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out;
}

/*.................................................. Slideshow - Caption - Transition 1 */
body.sld-transition-1 .slideshow .carousel-inner>.item .carousel-caption {
  -webkit-transform: translateY(-40%);
     -moz-transform: translateY(-40%);
      -ms-transform: translateY(-40%);
       -o-transform: translateY(-40%);
          transform: translateY(-40%);
}
body.sld-transition-1 .slideshow .carousel-caption { opacity: 0; }
body.sld-transition-1 .slideshow .carousel-inner>.item.active .carousel-caption {
  opacity: 1;
  -webkit-transform: translateY(-45%);
     -moz-transform: translateY(-45%);
      -ms-transform: translateY(-45%);
       -o-transform: translateY(-45%);
          transform: translateY(-45%);
  -webkit-transition: all 0.45s ease-out;
     -moz-transition: all 0.45s ease-out;
      -ms-transition: all 0.45s ease-out;
       -o-transition: all 0.45s ease-out;
          transition: all 0.45s ease-out;
}

/*.............................................................................................. Slideshow - Transition 2 */
body.sld-transition-2 .slideshow .carousel-inner>.item.active {
  opacity: 1;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.15s ease-in;
     -moz-transition: all 0.15s ease-in;
      -ms-transition: all 0.15s ease-in;
       -o-transition: all 0.15s ease-in;
          transition: all 0.15s ease-in;
}
body.sld-transition-2 .slideshow .carousel-inner>.item.active.left,
body.sld-transition-2 .slideshow .carousel-inner>.item.active.right {
  left: 0;
  opacity: .3;
  -webkit-transform: scale(1.3);
     -moz-transform: scale(1.3);
      -ms-transform: scale(1.3);
       -o-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: all 0.15s ease-in;
     -moz-transition: all 0.15s ease-in;
      -ms-transition: all 0.15s ease-in;
       -o-transition: all 0.15s ease-in;
          transition: all 0.15s ease-in;
}
body.sld-transition-2 .slideshow .carousel-inner>.item.next,
body.sld-transition-2 .slideshow .carousel-inner>.item.prev {
  left: 0;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transform: scale(2);
     -moz-transform: scale(2);
      -ms-transform: scale(2);
       -o-transform: scale(2);
          transform: scale(2);
}
body.sld-transition-2 .slideshow .carousel-inner>.item.next.left,
body.sld-transition-2 .slideshow .carousel-inner>.item.prev.right {
  opacity: .3;
  -webkit-transform: scale(1.3);
     -moz-transform: scale(1.3);
      -ms-transform: scale(1.3);
       -o-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: all 0.15s ease-in;
     -moz-transition: all 0.15s ease-in;
      -ms-transition: all 0.15s ease-in;
       -o-transition: all 0.15s ease-in;
          transition: all 0.15s ease-in;
}

/*.................................................. Slideshow - Caption - Transition 2 */
body.sld-transition-2 .slideshow .carousel-caption { opacity: 0; }
body.sld-transition-2 .slideshow .item.active .carousel-caption { opacity: 1; }

/*.............................................................................................. Slideshow - Transition 3 */
body.sld-transition-3 .slideshow .carousel-inner>.item.active {
  opacity: 1;
  -webkit-transition: all 0.45s ease-in-out;
     -moz-transition: all 0.45s ease-in-out;
      -ms-transition: all 0.45s ease-in-out;
       -o-transition: all 0.45s ease-in-out;
          transition: all 0.45s ease-in-out;
}
body.sld-transition-3 .slideshow .carousel-inner>.item.active.left,
body.sld-transition-3 .slideshow .carousel-inner>.item.active.right {
  left: 0;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
body.sld-transition-3 .slideshow .carousel-inner>.item.next,
body.sld-transition-3 .slideshow .carousel-inner>.item.prev {
  left: 0;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}


/***********************************************************************************************
 2) FEATURES
 ***********************************************************************************************/

.features { padding: 50px 0 30px; }
.features .section-header { margin: 0 0 120px; }

.features .c2,
.features .c3,
.features .c4 { margin-top: 30px; }

.features .features-wrapper {
  padding: 40px 10px 50px;
  text-align: center;
}

.features .features-icon {
  position: absolute;
  left: 0;
  top: -50px;
  right: 0;
  margin: auto;
  width: 80px;
  height: 80px;
  font-size: 2.6em;
  color: #d9534f;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #7a8691;
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
.features .features-wrapper:hover .features-icon {
  color: #fff;
  background-color: #d9534f;
  box-shadow: 0 0 0 1px #2b3e50;
}
.features .features-icon:after {
  content: "";
  position: absolute;
  left: -4px;
  top: -4px;
  right: 0;
  margin: auto;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #7a8691;
  opacity: 0;
  -webkit-transform: scale(.8);
     -moz-transform: scale(.8);
      -ms-transform: scale(.8);
       -o-transform: scale(.8);
          transform: scale(.8);
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
.features .features-wrapper:hover .features-icon:after {
  opacity: 1;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
}
.features .features-icon span { line-height: 80px; }
  .features .features-icon span[class*="ion-"] {
    font-size: 1.24em;
    line-height: 80px;
  }

.features .features-content .title {
  margin-top: 8px;
  font-size: 2em;
  color: #d9534f;
}

/*.................................................. Media Queries - Features - General */
@media (min-width: 768px) {
  .features { padding: 50px 0 90px; }
  .features .section-header { margin: 30px 0 145px; }

  .features .c2 { margin-top: 0; }
  .features .c3,
  .features .c4 { margin-top: 80px; }

  .features .features-wrapper { padding: 70px 10px 0; }

  .features .features-icon {
    width: 100px;
    height: 100px;
    font-size: 3.2em;
  }
  .features .features-icon:after {
    width: 108px;
    height: 108px;
  }
  .features .features-icon span { line-height: 100px; }
  .features .features-icon span[class*="ion-"] { line-height: 100px; }
}

@media (min-width: 992px) {
  .features .c2,
  .features .c3,
  .features .c4 {
    margin-top: 0;
  }

  .features .features-content { font-size: 115%; }
}


/***********************************************************************************************
 3) OVERVIEW
 ***********************************************************************************************/

.overview {
  padding: 50px 0 90px;
  background-color: #253646;
}
.overview .section-header { margin-bottom: 60px; }

.overview .tab-pane { padding: 40px 0 0; }

.overview .overview-wrapper {
  position: relative;
  padding: 0;
}
.overview .overview-wrapper + .overview-wrapper { margin-top: 30px; }
.overview .overview-content { padding-top: 0; }
.overview #overview-tab-2 .overview-content { text-align: center; }

/*.................................................. Media Queries - Overview - General */
@media (min-width: 768px) {
  .overview .section-header { margin-bottom: 90px; }

  .overview .overview-content { padding-top: 60px; }
}

@media (min-width: 992px) {
  .overview .overview-content { font-size: 115%; }
}

/*.............................................................................................. Overview - Tab 1 */
.overview #overview-tab-1 .c1 { min-height: 290px; }
.overview #overview-tab-1 .c2 .overview-content { padding-top: 0; }

/*.................................................. Media Queries - Overview - Tab 1 */
@media (min-width: 390px) {
  .overview #overview-tab-1 .c1 { min-height: 372px; }
}

@media (min-width: 768px) {
  .overview #overview-tab-1 .c1 {
    padding-left: 0;
    min-height: 454px;
  }
  .overview #overview-tab-1 .c2 .overview-content {
    padding-right: 20px;
    text-align: right;
  }
}

@media (min-width: 992px) {
  .overview #overview-tab-1 .c1 { min-height: 516px; }
  .overview #overview-tab-1 .c2 .overview-content { padding-right: 50px; }
}

@media (min-width: 1200px) {
  .overview #overview-tab-1 .c2 .overview-content { padding-right: 80px; }
}

/*.............................................................................................. Overview - Tab 2 */
.overview #overview-tab-2 .c1 { min-height: 372px; }
.overview #overview-tab-2 .c2 { margin: 30px 0; }

/*.................................................. Media Queries - Overview - Tab 2 */
@media (min-width: 768px) {
  .overview #overview-tab-2 .c2 { margin: 0; }
  .overview #overview-tab-2 .c2 .overview-content {
    padding-top: 0;
    padding-right: 0;
    text-align: right;
  }
  .overview #overview-tab-2 .c3 .overview-content {
    padding-top: 0;
    padding-left: 0;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .overview #overview-tab-2 .c2 .overview-content { padding-right: 80px; }
  .overview #overview-tab-2 .c3 .overview-content { padding-left: 80px; }
}

/*.............................................................................................. Overview - Tab 3 */
.overview #overview-tab-3 .c1 { min-height: 372px; }
.overview #overview-tab-3 .c2 .overview-content { padding-top: 30px; }



/*.................................................. Media Queries - Overview - Tab 3 */
@media (min-width: 768px) {
  .overview #overview-tab-3 .c1 { min-height: 454px; }
  .overview #overview-tab-3 .c2 .overview-content {
    padding-top: 0;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .overview #overview-tab-3 .c1 { min-height: 516px; }
}

/*.............................................................................................. Overview - Tab 3 */
.overview #overview-tab-4 .c1 { min-height: 372px; }
.overview #overview-tab-4 .c2 .overview-content { padding-top: 30px; }



/*.................................................. Media Queries - Overview - Tab 3 */
@media (min-width: 768px) {
  .overview #overview-tab-4 .c1 { min-height: 454px; }
  .overview #overview-tab-4 .c2 .overview-content {
    padding-top: 0;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .overview #overview-tab-4 .c1 { min-height: 516px; }
}

/*.............................................................................................. Overview - Tab Content */
.overview .title {
  margin-top: 8px;
  font-size: 1.8em;
  color: #d9534f;
}
.overview .subtitle {
  font-size: 70%;
  font-weight: lighter;
  color: #7a8691;
}

.overview .overview-icon {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  margin: auto;
  display: none;
  width: 60px;
  height: 60px;
  font-size: 2.2em;
  text-align: center;
  color: #d9534f;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #7a8691;
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
.overview .overview-wrapper:hover .overview-icon {
  color: #fff;
  background-color: #d9534f;
  box-shadow: 0 0 0 1px #2b3e50;
}
.overview .overview-icon:after {
  content: "";
  position: absolute;
  left: -4px;
  top: -4px;
  right: 0;
  bottom: auto;
  margin: auto;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #7a8691;
  opacity: 0;
  -webkit-transform: scale(.8);
     -moz-transform: scale(.8);
      -ms-transform: scale(.8);
       -o-transform: scale(.8);
          transform: scale(.8);
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
.overview .overview-wrapper:hover .overview-icon:after {
  opacity: 1;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
}
.overview .overview-icon span {
  display: block;
  line-height: 60px;
}
.overview .overview-icon span[class*="ion-"] { font-size: 1.24em; }

/*.................................................. Media Queries - Overview - Tab Content */
@media (min-width: 768px) {
  .overview .overview-icon { display: block; }
  .overview .c1 .overview-icon {
    left: auto;
    right: 0;
  }
  .overview .c3 .overview-icon {
    left: 0;
    right: auto;
  }
}

@media (min-width: 992px) {
  .overview .title { font-size: 2em; }
}

/*.............................................................................................. Overview - Animation Images Tab 1 */
.overview .img-perspective {
  position: relative;
  margin: 0 auto;
  width: 270px;
}
.overview .img-1,
.overview .img-2,
.overview .img-3 {
  position: absolute;
  left: 10%;
  margin-top: 10%;
  width: 210px;
  -webkit-transition: all 0.7s ease;
     -moz-transition: all 0.7s ease;
      -ms-transition: all 0.7s ease;
       -o-transition: all 0.7s ease;
          transition: all 0.7s ease;
}
.overview .tab-pane.in .img-1 {
  left: 0;
  margin-top: 20%;
}
.overview .tab-pane.in .img-3 {
  left: 20%;
  margin-top: 0;
}

/*.................................................. Media Queries - Overview - Animation Images Tab 1 */
@media (min-width: 390px) {
  .overview .img-perspective { width: 360px; }
  .overview .img-1,
  .overview .img-2,
  .overview .img-3 { width: 280px; }
}

@media (min-width: 768px) {
  .overview .img-1,
  .overview .img-2,
  .overview .img-3 { margin-top: 40%; }
  .overview .tab-pane.in .img-1 { margin-top: 50%; }
  .overview .tab-pane.in .img-2 { margin-top: 40%; }
  .overview .tab-pane.in .img-3 { margin-top: 30%; }
}

@media (min-width: 992px) {
  .overview .img-perspective {
    margin-top: 70px;
    width: 100%;
  }
  .overview .img-1,
  .overview .img-2,
  .overview .img-3 {
    margin-top: 10%;
    width: 374px;
  }
  .overview .tab-pane.in .img-1 { margin-top: 20%; }
  .overview .tab-pane.in .img-2 { margin-top: 10%; }
  .overview .tab-pane.in .img-3 { margin-top: 0; }
}

@media (min-width: 1200px) {
  .overview .img-perspective { margin-top: 0; }
  .overview .img-1,
  .overview .img-2,
  .overview .img-3 { width: 400px; }
}

/*.............................................................................................. Overview - Animation Images Tab 2 */
.overview .img-wireframe { position: relative; }
.overview .img-4,
.overview .img-5 {
  width: 180px;
  -webkit-transition: all 0.7s ease;
     -moz-transition: all 0.7s ease;
      -ms-transition: all 0.7s ease;
       -o-transition: all 0.7s ease;
          transition: all 0.6s ease;
}
.overview .img-5 {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  margin: auto;
}
.overview .img-4,
.overview .img-wireframe:hover .img-5 { opacity: 0; }
.overview .img-5,
.overview .img-wireframe:hover .img-4 { opacity: 1; }

/*.................................................. Media Queries - Overview - Animation Images Tab 2 */
@media (min-width: 768px) {
  .overview .img-4,
  .overview .img-5 { width: 250px; }
}

/*.............................................................................................. Overview - Animation Images Tab 3 */
.overview .img-slide {
  position: relative;
  margin: 0 auto;
  width: 300px;
}
.overview .img-6,
.overview .img-7 {
  position: absolute;
  left: 35%;
  -webkit-transition: all 0.7s ease;
     -moz-transition: all 0.7s ease;
      -ms-transition: all 0.7s ease;
       -o-transition: all 0.7s ease;
          transition: all 0.6s ease;
}
.overview .img-6 {
  margin-top: 50px;
  width: 130px;
}
.overview .img-7 { width: 180px; }
.overview .tab-pane.in .img-6 { left: 5%; }

/*.................................................. Media Queries - Overview - Animation Images Tab 3 */
@media (min-width: 390px) {
  .overview .img-slide { width: 360px; }
  .overview .img-6,
  .overview .img-7 { left: 40%; }
  .overview .tab-pane.in .img-6 { left: 10%; }
}

@media (min-width: 768px) {
  .overview .img-6 {
    margin-top: 50px;
    width: 150px;
  }
  .overview .img-7 { width: 200px; }
}

@media (min-width: 992px) {
  .overview .img-slide { width: 100%; }
  .overview .img-6 {
    margin-top: 50px;
    width: 200px;
  }
  .overview .img-7 { width: 250px; }
}

/*.............................................................................................. Overview - Progress Bars */
.overview #overview-tab-3 label>small { font-size: 110%; }
.overview .progress { height: 18px; }
.overview .progress-bar { width: 0; }
.overview .tab-pane.in .progress-bar {
  -webkit-transition: width 0.7s ease;
     -moz-transition: width 0.7s ease;
      -ms-transition: width 0.7s ease;
       -o-transition: width 0.7s ease;
          transition: width 0.7s ease;
}

.overview .tab-pane.in .progress-bar-10 { width: 10%; }
.overview .tab-pane.in .progress-bar-20 { width: 20%; }
.overview .tab-pane.in .progress-bar-30 { width: 30%; }
.overview .tab-pane.in .progress-bar-40 { width: 40%; }
.overview .tab-pane.in .progress-bar-50 { width: 50%; }
.overview .tab-pane.in .progress-bar-60 { width: 60%; }
.overview .tab-pane.in .progress-bar-70 { width: 70%; }
.overview .tab-pane.in .progress-bar-80 { width: 80%; }
.overview .tab-pane.in .progress-bar-90 { width: 90%; }
.overview .tab-pane.in .progress-bar-100 { width: 100%; }
.overview .progress-last { margin-bottom: 0; }


/***********************************************************************************************
 4) STATS
 ***********************************************************************************************/

.stats {
  position: relative;
  z-index: 0;
  padding: 50px 0 64px;
  background: url(../images/bg_1.jpg) no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
}
.stats:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: #000;
  opacity: .25;
}
.stats .bg-section {
  position: absolute;
  margin-top: -50px;
  display: none;
  width: 100%;
  height: 100%;
  clip: rect(0, auto, auto, 0);
}
.stats .bg-section img {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: -2;
  max-height: 100%;
  height: 100vh;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.stats .circle {
  height: 66px;
  text-align: center;
}
.stats .circle.animated { height: auto; }
.stats .circle .circles-text {
  border-radius: 50%;
  box-shadow: 0 0 0 8px rgba(0,0,0,.1);
}

.stats .description {
  margin: 15px 0 40px;
  font-size: 1.1em;
  text-align: center;
}
.stats .description span {
  margin-right: 7px;
  font-size: 1.4em;
  color: #d9534f;
}
.stats .c3 .description,
.stats .c4 .description { margin-bottom: 20px; }

/*.................................................. Media Queries - Stats - General */
@media (min-width: 768px) {
  .stats .circle { height: 114px; }
}

@media (min-width: 992px) {
  .stats .circle { height: 146px; }

  .stats .description { margin: 15px 0 20px; }
}

@media (min-width: 1200px) {
  .stats .circle { height: 233px; }
}


/***********************************************************************************************
 5) GALLERY
 ***********************************************************************************************/

.gallery { padding: 50px 0 90px; }
.gallery .r2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*.............................................................................................. Gallery - Thumbnail */
.gallery .thumb-overlay {
  position: relative;
  overflow: hidden;
   margin: 0 15px;
}
.gallery .link-modal {
  margin: 0 auto;
  display: block;
  width: 260px;
  height: 100%;
  background-color: #000;
}
.gallery .thumb-overlay .thumb {
  margin: 0 auto;
  -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
.gallery .link-modal:hover .thumb { opacity: .5; }
.gallery .link-modal:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  margin: auto;
  width: 25%;
  height: 50%;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
.gallery .link-modal:hover:before {
  width: 240px;
  height: 442px;
  background-color: #333;
  background-color: rgba(0, 0, 0, .3);
  opacity: 1;
}
.gallery .link-modal:after {
  content: "\e003";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999999;
  margin: auto;
  width: 30px;
  height: 30px;
  font-family: 'Glyphicons Halflings';
  font-size: 2em;
  text-align: center;
  color: #fff;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
.gallery .link-modal:hover:after { opacity: 1; }

/*.................................................. Media Queries - Gallery - Thumbnail */
@media (min-width: 768px) {
  .gallery .link-modal { width: auto; }
  .gallery .link-modal:hover:before {
    width: 94%;
    height: 96%;
  }
}

/*.............................................................................................. Gallery - Navigation */
.gallery .slick-prev,
.gallery .slick-next {
  width: 20px;
  height: auto;
  font-size: inherit;
}
.gallery .slick-prev { left: 10px; }
.gallery .slick-next { right: 5px; }
.gallery .slick-prev:before { content: "\f104"; }
.gallery .slick-next:before { content: "\f105"; }
.gallery .slick-prev:before,
.gallery .slick-next:before {
  font-family: "FontAwesome";
  font-size: 2.5em;
  line-height: 1;
}

/*.................................................. Media Queries - Gallery - Navigation */
@media (min-width: 768px) {
  .gallery .slick-prev { left: 0; }
  .gallery .slick-next { right: -5px; }
}

/*.............................................................................................. Gallery - Indicators */
.gallery .slick-dots {
  left: 0;
  margin: 0 auto;
}
.gallery .slick-dots .slick-active button:before {
  color: #1d2b37;
  opacity: 1;
}
.gallery .slick-dots li button:before {
  color: #1d2b37;
  font-size: 16px;
  opacity: 0.5;
}

/*.............................................................................................. Gallery - Modal */
.gallery .blueimp-gallery { background: rgba(0, 0, 0, .6); }

.gallery .blueimp-gallery>.prev,
.gallery .blueimp-gallery>.next {
  border: none;
  background: none;
}


/***********************************************************************************************
 6) TESTIMONIALS
 ***********************************************************************************************/

.testimonials {
  padding: 50px 0 55px;
  background-color: #253646;
}
.testimonials .section-header { margin-bottom: 245px; }

.testimonials .carousel.fade { opacity: 1; }
.testimonials .carousel.fade .item {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
     -moz-transition: opacity 0.5s ease-in-out;
      -ms-transition: opacity 0.5s ease-in-out;
       -o-transition: opacity 0.5s ease-in-out;
          transition: opacity 0.5s ease-in-out;
}
.testimonials .carousel.fade .active.item { opacity: 1; }
.testimonials .carousel-inner { overflow: visible; }

.testimonials .testimonials-info {
  margin: 20px 0;
  font-size: 120%;
  text-align: center;
}
.testimonials .testimonials-info .author { display: block; }

.testimonials .carousel.fade .item blockquote p:before {
  content: "\f10d";
  float: left;
  margin-right: 10px;
  font-family: 'Fontawesome';
}
.testimonials .carousel.fade blockquote {
  padding: 25px;
  margin-top: 45px;
  border: none;
  font-size: 1.3em;
  color: #bbb;
  background-color: rgba(255, 255, 255, .1);
}
.testimonials .carousel.fade blockquote:before {
  content: "";
  position: absolute;
  left: 0;
  top: 70px;
  right: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 25px solid rgba(255, 255, 255, .1);
}
@-moz-document url-prefix() {
  .testimonials .carousel.fade blockquote:before { top: 71px; }  /* fix Firefox */
}
_:-ms-input-placeholder,
:root .testimonials .carousel.fade blockquote:before { top: 72px; }  /* fix IE10+ */

.testimonials a { color: #d9534f; }

/*.............................................................................................. Testimonials - Photo */

.testimonials .testimonials-photo {
  position: absolute;
  left: 2px;
  top: -170px;
  right: 0;
  bottom: auto;
  margin: auto;
  width: 150px;
  height: 150px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #7a8691;
}
.testimonials .testimonials-controls:hover + .carousel-inner .testimonials-photo { box-shadow: 0 0 0 1px #2b3e50; }
.testimonials .testimonials-photo:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  margin: auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #7a8691;
  opacity: 0;
  -webkit-transform: scale(.8);
     -moz-transform: scale(.8);
      -ms-transform: scale(.8);
       -o-transform: scale(.8);
          transform: scale(.8);
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
.testimonials .testimonials-controls:hover + .carousel-inner .testimonials-photo:before {
  opacity: 1;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
}
.testimonials .testimonials-photo:after {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  right: 0;
  margin: auto;
  width: 144px;
  height: 144px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.15);
}
.testimonials .testimonials-controls:hover + .carousel-inner .testimonials-photo:after { background-color: transparent; }
.testimonials .testimonials-photo img {
  margin-top: 3px;
  width: 144px;
  height: 144px;
  border-radius: 50%;
}

/*.............................................................................................. Testimonials - Navigation */
.testimonials .carousel.fade .testimonials-controls {
  position: absolute;
  left: 0;
  top: -170px;
  right: 0;
  z-index: 1;
  padding: 32.5px 0;
  margin: auto;
  width: 280px;
  font-size: 4em;
}
.testimonials .testimonials-controls .arrow-left {
  padding: 0 20px;
  float: left;
}
.testimonials .testimonials-controls .arrow-right {
  padding: 0 20px;
  float: right;
}
.testimonials .testimonials-controls .arrow-left,
.testimonials .testimonials-controls .arrow-right {
  -webkit-transition: all 0.06s ease-out;
     -moz-transition: all 0.06s ease-out;
      -ms-transition: all 0.06s ease-out;
       -o-transition: all 0.06s ease-out;
          transition: all 0.06s ease-out;
}

.testimonials .carousel.fade .active.left,
.testimonials .carousel.fade .active.right {
  left: 0;
  z-index: 2;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.testimonials .carousel.fade .next,
.testimonials .carousel.fade .prev {
  left: 0;
  z-index: 1;
}

/*.................................................. Media Queries - Testimonials - Navigation */
@media (min-width: 768px) {
  .testimonials .testimonials-controls .arrow-left:hover { padding: 0 25px 0 15px; }
  .testimonials .testimonials-controls .arrow-right:hover { padding: 0 15px 0 25px; }
}


/***********************************************************************************************
 7) PRICING
 ***********************************************************************************************/

.pricing { padding: 50px 0 90px; }
.pricing .section-header { margin-bottom: 50px; }

.pricing .col-md-3,
.pricing .col-md-4 { margin-top: 20px; }

.pricing .panel { margin-bottom: 0; }
.attached .panel {
  margin-right: 2px;
  margin-bottom: 1px;
}

.pricing .panel-heading .title {
  margin-top: 10px;
  margin-bottom: 68px;
  font-size: 2.15em;
  text-align: center;
}

/*.................................................. Media Queries - Pricing - General */
@media (min-width: 768px) {
  .attached .section-header { margin-bottom: 70px; }

  .attached .col-md-3,
  .attached .col-md-4 { margin: 0 0 0 -1px; }
  .attached .c1,
  .attached .c3 { padding-right: 0; }
  .attached .c2,
  .attached .c4 { padding-left: 0; }
  /* 3 Columns */
  .attached.col3 .c1,
  .attached.col3 .c2,
  .attached.col3 .c3 { padding: 0; }
}

@media (min-width: 992px) {
  .attached .section-header { margin-bottom: 90px; }

  .attached .col-md-3,
  .attached .col-md-4 {
    padding: 0;
    margin: 20px 0 0 -1px;
  }

  .pricing .panel-heading .title { font-size: 1.7em; }
}

/*.............................................................................................. Pricing - Popular Attached */
.attached .popular { z-index: 1; }
.attached .panel-popular { box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3); }

/*.................................................. Media Queries - Pricing - Popular Attached */
@media (min-width: 768px) {
  .attached .panel-popular .panel-heading { padding: 10px 20px; }
  /* 3 Columns */
  .attached.col3 .popular { margin: -20px 0 0 -1px; }
  .attached.col3 .panel-popular .panel-heading { padding: 20px; }
}

@media (min-width: 992px) {
  .attached .popular { margin: 0 0 0 -1px; }
  .attached .panel-popular .panel-heading { padding: 20px; }
  /* 3 Columns */
  .attached.col3 .popular { margin: 0 0 0 -1px; }
}

/*.............................................................................................. Pricing - Badge Popular */
.pricing .badge-popular {
  position: absolute;
  top: -3px;
  right: 12px;
  z-index: 1;
  width: 64px;
  height: 64px;
  background: url(../images/pricing/badge_popular.png) no-repeat center center;
}
.attached .badge-popular { right: 13px; }

/*.................................................. Media Queries - Pricing - Badge Popular */
@media (min-width: 768px) {
  .attached .badge-popular { right: -2px; }
}

/*.............................................................................................. Pricing - Price */
.plan-price {
  position: relative;
  padding-top: 42px;
  margin: -75px auto 20px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #fff;
  background-color: #d9534f;
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
.panel:hover .plan-price {
  color: #fff;
  box-shadow: 0 0 0 1px transparent;
}
.plan-price:after {
  content: "";
  position: absolute;
  left: -4px;
  top: -4px;
  right: 0;
  margin: auto;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #7a8691;
  opacity: 0;
  -webkit-transform: scale(.8);
     -moz-transform: scale(.8);
      -ms-transform: scale(.8);
       -o-transform: scale(.8);
          transform: scale(.8);
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
.panel:hover .plan-price:after {
  opacity: 1;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
}
.panel-popular .plan-price:before {
  content: "";
  position: absolute;
  left: -4px;
  top: -4px;
  right: 0;
  margin: auto;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #d9534f;
  opacity: 0;
  -webkit-transform: scale(.8);
     -moz-transform: scale(.8);
      -ms-transform: scale(.8);
       -o-transform: scale(.8);
          transform: scale(.8);
  -webkit-transition: all 0.25s ease;
     -moz-transition: all 0.25s ease;
      -ms-transition: all 0.25s ease;
       -o-transition: all 0.25s ease;
          transition: all 0.25s ease;
}
.panel-popular:hover .plan-price:before {
  opacity: 1;
  -webkit-transform: scale(1.13);
     -moz-transform: scale(1.13);
      -ms-transform: scale(1.13);
       -o-transform: scale(1.13);
          transform: scale(1.13);
}
.price {
  display: block;
  font-size: 2.2em;
  line-height: .7em;
  font-weight: bold;
  text-align: center;
  color: #fff;
}
.plan-price sup { top: -.3em; }
.per-month {
  display: block;
  font-size: 1.1em;
  line-height: 2em;
  font-weight: normal;
  text-align: center;
  color: #fff;
  opacity: .7;
}

/*.............................................................................................. Pricing - Features */
.pricing .plan-features { text-align: center; }
.pricing .plan-features li {
  padding: 10px;
  border-bottom: 1px solid #8E979F;
  font-size: 1.1em;
  color: #ccc;
}
.pricing .plan-features li:last-child { border: none; }


/***********************************************************************************************
 8) CALL TO ACTION
 ***********************************************************************************************/

.calltoaction {
  position: relative;
  z-index: 0;
  padding: 50px 0 75px;
  text-align: center;
  background: url(../images/bg_2.jpg) no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
}
.calltoaction:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: #000;
  opacity: .25;
}
.calltoaction .bg-section {
  position: absolute;
  margin-top: -50px;
  display: none;
  width: 100%;
  height: 100%;
  clip: rect(0, auto, auto, 0);
}
.calltoaction .bg-section img {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: -2;
  max-height: 100%;
  height: 100vh;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.calltoaction .c1 h3 { margin-top: 50px; }

.calltoaction .download-buttons .btn {
  margin: 0 5px 30px;
  width: 80%;
  box-shadow: 0 0 0 7px rgba(0,0,0,.1);
}
.calltoaction span { margin-right: 10px; }

.calltoaction .input-newsletter { box-shadow: 0 0 0 7px rgba(0,0,0,.1); }
body.btn-rounded .calltoaction .input-newsletter { border-radius: 0 4px 4px 0; }
body.btn-circle .calltoaction .input-newsletter { border-radius: 0 100px 100px 0; }
.calltoaction .input-group-btn:last-child>.btn,
.calltoaction .input-group-btn:last-child>.btn-group { margin-left: 0; }

/*.................................................. Media Queries - Call To Action - General */
@media (min-width: 480px) {
  .calltoaction .download-buttons .btn {
    margin: 0 15px;
    width: auto;
  }
}


/***********************************************************************************************
 9) TEAM
 ***********************************************************************************************/

.team {
  padding: 50px 0 90px;
  background-color: #253646;
}
.team .section-header { margin-bottom: 90px; }

.team .c2,
.team .c3,
.team .c4,
.team .c6,
.team .c7,
.team .c8 { margin-top: 130px; }

.team .team-wrapper {
  padding: 70px 10px 5px;
  margin-top: 85px;
  text-align: center;
  background-color: rgba(255, 255, 255, .1);
}

/*.................................................. Media Queries - Team - General */
@media (min-width: 768px) {
  .team .c2,
  .team .c6 { margin-top: 0; }
  .team .c3,
  .team .c4,
  .team .c7,
  .team .c8 { margin-top: 40px; }
}

@media (min-width: 992px) {
  .team .c3,
  .team .c4,
  .team .c7,
  .team .c8 { margin-top: 0; }
}

/*.............................................................................................. Team - Photo */
.team .team-photo {
  position: absolute;
  left: 0;
  top: -85px;
  right: 0;
  margin: auto;
  border: 3px solid #253646;
  width: 170px;
  height: 170px;
  text-align: center;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px #7a8691;
  background-color: #253646;
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.9s ease;
}
.team .team-wrapper:hover .team-photo { box-shadow: 0 0 0 1px #253646; }
.team .team-photo:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  margin: auto;
  width: 164px;
  height: 164px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #7a8691;
  opacity: 0;
  -webkit-transform: scale(.8);
     -moz-transform: scale(.8);
      -ms-transform: scale(.8);
       -o-transform: scale(.8);
          transform: scale(.8);
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
.team .team-wrapper:hover .team-photo:before {
  opacity: 1;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
}
.team .team-photo:after {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  right: 0;
  margin: auto;
  width: 154px;
  height: 154px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .15);
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
.team .team-wrapper:hover .team-photo:after {
  left: -5px;
  top: -5px;
  width: 174px;
  height: 174px;
  background-color: transparent;
  box-shadow: 0 0 0 3px #253646;
}
.team .team-photo img {
  margin-top: 5px;
  width: 154px;
  height: 154px;
  border-radius: 50%;
}

/*.................................................. Media Queries - Team -Photo */
@media (min-width: 768px) {
  .team .team-photo { top: 0; }
}

/*.............................................................................................. Team - Content */
.team .team-content .name {
  margin-top: 30px;
  font-size: 1.8em;
  color: #d9534f;
}
.team .team-content .function { color: #888; }

.team .team-content .description {
  margin-bottom: 20px;
  font-size: 1.15em;
  color: #ccc;
}

/*.............................................................................................. Team - Social buttons */
.team .team-media { margin: 0 -11.5px -5px -8.5px; }
.team .team-media .team-social {
  margin: 0 0 0 -3px;
  display: inline-block;
  width: 20%;
  height: 60px;
  font-size: 1.3em;
  line-height: 60px;
  text-align: center;
  color: #d9534f;
  background-color: rgba(255,255,255,.07);
}
.team .team-media .team-social:hover {
  color: #ccc;
  background-color: transparent;
}

/*.............................................................................................. Team - Tooltips */
.team .team-media .team-social + .tooltip .tooltip-arrow { border-bottom-color: rgba(255, 255, 255, .1); }
.team .team-media .team-social + .tooltip .tooltip-inner { background-color: rgba(255, 255, 255, .1); }


/***********************************************************************************************
 10) CONTACT
 ***********************************************************************************************/

.contact { padding-top: 50px; }
.contact .section-header { margin-bottom: 120px; }

.contact .container-fluid .c1 { padding: 0; }
.contact .collapse {
  display: block;
  height: 1px !important;
  background-color: #2b3e50;
}
.contact .collapse .panel-body { display: none; }
.contact .collapsing .panel-body { padding: 0; }
.contact .collapse.in {
  display: block;
  height: auto !important;
  background-color: #2b3e50;
}
.contact .collapse.in .panel-body {
  padding: 0;
  display: block;
}

/*.................................................. Media Queries - Contact - General */
@media (min-width: 992px) {
  .contact .collapse {
    display: none;
    height: 0 !important;
  }
}

/*.............................................................................................. Contact - Map */
.contact #contact-accordion-1 { margin-bottom: 20px; }
.contact .map-wrapper {
  position: relative;
  margin: 0;
}
.container-fluid .contact .map-wrapper { margin: 0 -30px; }
.contact #map-canvas {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 400px;
}

/*.................................................. Contact - Icon Toggle */
.contact .map-title {
  position: absolute;
  left: 0;
  top: -50px;
  right: 0;
  z-index: 10;
  padding-top: 10px;
  margin: auto;
  border: 3px solid #2b3e50;
  width: 100px;
  height: 100px;
  font-size: 1.6em;
  line-height: 1.2em;
  text-align: center;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px #7a8691;
  background-color: #2b3e50;
}
.contact .map-title:hover {
  background-color: #d9534f;
  box-shadow: 0 0 0 1px #2b3e50;
}
.contact .map-title a {
  text-decoration: none;
  color: #d9534f;
}
.contact .map-title:hover a { color: #fff; }
.contact .map-title span { font-size: 1.4em; }

/*.............................................................................................. Contact - Vcard over the map */
.contact .vcard {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  margin: auto !important;
  border: 1px solid #ddd;
  width: 80%;
  height: 55%;
  font-size: 1em;
  border-radius: 10px;
  color: #2b3e50;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  opacity: 0.9;
}
.contact .vcard .close { color: #2b3e50; }
.contact .org { text-align: center; }
.contact .org,
.contact .adr,
.contact .tel { margin-bottom: 10px; }
.contact .street-address,
.contact .tel-1,
.contact .tel-2,
.contact .email-contact,
.contact .email-suport { display: block; }
.contact .street-address:before {
  content: "\f041";
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  font-family: FontAwesome;
  text-align: center;
}
.contact .locality { margin-left: 30px; }
.contact .tel-1:before {
  content: "\f095";
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  font-family: FontAwesome;
  text-align: center;
}
.contact .tel-2 { margin-left: 30px; }
.contact .email-contact:before {
  content: "\f0e0";
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  font-family: FontAwesome;
  text-align: center;
}
.contact .email-support { margin-left: 30px; }
.contact .vcard a { color: #d9534f; }

/*.................................................. Media Queries - Contact - Vcard over the map */
@media (min-width: 480px) {
  .contact .vcard {
    width: 60%;
    height: 60%;
    font-size: 1.1em;
  }
}

@media (min-width: 768px) {
  .contact .vcard { width: 40%; }
}

@media (min-width: 992px) {
  .contact .vcard { width: 30%; }
}

@media (min-width: 1200px) {
  .contact .vcard { width: 25%; }
}

/*.............................................................................................. Contact - Form */
.contact .r1 .c2,
.contact .r2 .c2,
.contact .r3 .c2,
.contact .r3 .c3,
.contact .r4 .c2 { margin-top: 15px; }

.contact .alert { margin: 40px 0 -20px; }
.contact .alerts-xs .alert { margin: 0; }

.contact .contact-form { margin-top: 40px; }
.contact legend { display: none; }

.contact .btn {
  display: block;
  margin: 0 auto 10px;
  width: 100%;
}
.contact .btn:before {
  content: "\e171";
  position: relative;
  top: 2px;
  margin-right: 10px;
  font-family: 'Glyphicons Halflings';
}

/*.................................................. Media Queries - Contact - Form */
@media (min-width: 768px) {
  .contact .r1 .c2,
  .contact .r2 .c2,
  .contact .r3 .c2,
  .contact .r3 .c3,
  .contact .r4 .c2 { margin-top: 0; }

  .contact .btn { width: auto; }
}


/***********************************************************************************************
 11) SOCIAL BUTTONS
 ***********************************************************************************************/

.social-icons { text-align: center; }

.social-icons .btn-social {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, .2);
}
.social-icons .facebook:hover { background-color: #3b5998; }
.social-icons .twitter:hover { background-color: #2daddc; }
.social-icons .google-plus:hover { background-color: #d14836; }
.social-icons .youtube:hover { background-color: #e52d27; }
.social-icons .instagram:hover { background-color: #3b6994; }
.social-icons .email:hover {
  color: #fff;
  background-color: #4e5d6c;
}
.social-icons .rss:hover { background-color: #f90; }

/*.............................................................................................. Social Buttons - Tooltips */
.social-icons .btn-social + .tooltip .tooltip-arrow { border-top-color: rgba(0, 0, 0, .2); }
.social-icons .btn-social + .tooltip .tooltip-inner { background-color: rgba(0, 0, 0, .2); }
