.logo-incpro{
    background:url(../images/inc-prologo.png);
    margin-top:-7%;
}

.slideshow .item:after {
    opacity: 0 !important;
}
.slideshow .carousel-indicators .active {
    border: 1px solid white !important;
    background-color: #fcd400 !important;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: black;
}
.navbar-default {
    background-color: black;
    border-color: transparent;
}
.navbar-collapse {
    padding: 0;
    background-color: #000000 !important;
}
.logo-incpro{
    margin-top: -7%;
}
.adelante{
    z-index: 5000;
}
#wrap { 
    margin:0 auto 0 auto; 
    padding:20% 0%;
}

.status{
    width: 160px !important;
    height: 160px !important;
}
.img-medium {
    width: auto;
    max-width: 100%;
    height: auto;
}

.wrap { 
    margin:0 auto 0 auto; 
}
.fondo-balnco{
    background: url(../images/fondoempresas.png) center fixed rgba(255,0,0,0.2) !important;
}
.fondo-historia{
    background: url(../images/nuestrahistoria.png) center fixed rgba(255,0,0,0.2) !important;
}
.title-pro{
    color: black !important;
}
.btn-danger {
    background-color:  #fcd400 !important;
    }    
    .features .features-icon{
        width: 200px !important;
    }
    .features .features-icon:after{
        width: 208px !important;
    }
 .footer-logo {
    color: white !important;
}   

@media (min-width: 300px) and (max-width: 800px){
   #wrap { 
        padding:50% 0%;
    }
    
}
@media (min-width: 300px) and (max-width: 400px){
    #wrap img{
        width: 250px;
    }
}
.features .features-wrapper:hover .features-icon{
    background-color: white !important;
}

.features .features-icon{
    width: 180px !important;
}
.features .features-icon:after{
    width: 188px !important;
}
.overview
.section-header{
    margin-bottom: 15px !important;
}
.nuestrahistoria{
    padding: 0 0 0 !important;
}
.features .section-header {
    margin: 0px 0 15px !important;
}
.contact .vcard {
    color: white !important;
}
.contact .vcard a {
    color: white !important;
}
.navbar {
       // min-height: 90px;
}
.navbar-nav>li>a {
        font-size: 1.6em !important;
}
@media only screen and (max-width: 500px) {

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    padding: 116px !important;
    /* margin: -1px auto !important; */
    margin-left: -6px!important;
}
}

