/*-----------------------------------------------------------------------------------------------
Project:  Mos7 - Responsive Bootstrap 3 App Landing Page Template
Version:  1.5.3
Last change:  13/09/2015
Design by:  TemplatesPRO.com.br

Structure (line):
1) LINKS AND BUTTONS (38)
2) FORMS (63)
3) HEADERS - Sections (81)
4) PRELOADER (115)
5) LOGO (142)
6) NAVBAR - NAVBAR TOGGLE - NAVBAR AFFIX (154)
        - Media Queries - Navbar - General (170)
    - Toggle (183)
    - Affix (187)
7) FOOTER (208)
8) COPYRIGHT (254)
    - Button Go Top (272)
9) ANIMATIONS (297)
        - Media Queries - Animations (302)
            - Animated Elements (305)
            - Animation Transition Styles (343)
10) PARALLAX EFFECT (412)
11) MODALS (427)
-----------------------------------------------------------------------------------------------*/

html,
body { height: 100%; }

@-webkit-viewport { width: device-width; }
@-moz-viewport    { width: device-width; }
@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }

/***********************************************************************************************
 1) LINKS AND BUTTONS
 ***********************************************************************************************/

a,
.btn {
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}
button:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus { outline: none; }
body.btn-rounded .btn { border-radius: 5px; }
body.btn-circle .btn { border-radius: 100px; }
.btn-lg, .btn-group-lg>.btn { padding: 12px 24px 16px; }
a[href^=mailto]:after { content: attr(data-user) "\0040" attr(data-domain); }


/***********************************************************************************************
 2) FORMS
 ***********************************************************************************************/

.form-control {
  font-size: 1.2em;
  line-height: 1.2em;
}
::-webkit-input-placeholder { color:#888 !important; }
:-moz-placeholder { color:#888 !important; } /* Firefox 18- */
::-moz-placeholder { color:#888 !important; }  /* Firefox 19+ */
:-ms-input-placeholder { color:#888 !important; } /* IE10 + */
/* Polyfill IE9 */
.-placeholder {
    color: #888;
}


/***********************************************************************************************
 3) HEADERS - Sections
 ***********************************************************************************************/

.section-header {
  margin: 0 0 100px;
  text-align: center;
}
.section-title {
  padding-bottom: 20px;
  border-bottom: 1px solid #4e5d6c;
  display: inline-block;
  font-size: 3em;
  color: #fff;
}
.section-subtitle {
  padding: 0;
  margin-top: 0;
  font-size: 1.6em;
  color: #8E979F;
}
.section-subtitle::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  margin: 15px auto 0;
  width: 20%;
  height: 1px;
  background-color: #4e5d6c;
}


/***********************************************************************************************
 4) PRELOADER
 ***********************************************************************************************/

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background-color: #2b3e50;
}
.status {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 80px;
  height: 80px;
  color: #fff;
  background: url(../images/loading.gif) no-repeat center center;
}


/***********************************************************************************************
 5) LOGO
 ***********************************************************************************************/

.navbar-brand {
  padding: 12px 15px;
  font-size: 21px;
  height: 46px;
}
.navbar-brand span { color: #d9534f; }


/***********************************************************************************************
 6) NAVBAR - NAVBAR TOGGLE - NAVBAR AFFIX
 ***********************************************************************************************/

.navbar {
  position: absolute;
  bottom: 0;
  z-index:999;
  margin-bottom: 0;
  width: 100%;
}
.navbar-nav>li>a {
  padding: 12px 11px;
  font-size: 1.2em;
  line-height: 22px;
}

/* Media Queries - Navbar - General ...........................................................*/
@media (min-width: 768px) {
  .navbar .collapsing {
    padding: 0;
    display: block !important;
    visibility: visible !important;
    height: auto !important;
  }
}
@media (min-width: 992px) {
  .navbar-nav>li>a { padding: 12px 14px; }
}

/* Toggle .....................................................................................*/
.navbar-toggle { padding: 12px 10px; }
.navbar-nav { margin: 0; }

/* Affix ......................................................................................*/
.navbar.affix {
  position: fixed;
  top: 0;
  height: 46px;
  -webkit-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
      -ms-transition: all .5s ease-in-out;
       -o-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
}
.navbar-collapse {
  padding: 0;
  background-color: #4e5d6c;
}
 /* 3.0.2 bug workaround */
.navbar-collapse.in { overflow-y: visible; }
.navbar-toggle { outline:0; }


/***********************************************************************************************
 7) FOOTER
 ***********************************************************************************************/

.footer {
  margin-top: 80px;
  color: #ccc;
}
.footer .c1 { margin-bottom: -130px; }

.footer-logo {
  margin: 0 auto 40px;
  border: 5px solid #2b3e50;
  width: 120px;
  height: 120px;
  font-size: 2.2em;
  line-height: 115px;
  text-align: center;
  border-radius: 50%;
  background-color: #2b3e50;
  box-shadow:  0 0 0 7px #2b3e50;
}
.footer-logo:before,
.footer-logo:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
}
.footer-logo:before {
  top: 5px;
  width: 110px;
  height: 110px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.3);
}
.footer-logo:after {
  top: 1px;
  width: 118px;
  height: 118px;
  box-shadow: 0 0 0 4px rgba(0,0,0,.3);
}
.footer-logo span { color: #d9534f; }


/***********************************************************************************************
 8) COPYRIGHT
 ***********************************************************************************************/

.copyright {
  padding: 160px 0 31px;
  font-size: 1em;
  text-align: center;
  color: #aaa;
  background-color: #253646;
  box-shadow: inset 0 -41px 0 0 rgba(0,0,0,.2);
}

.copyright p { margin: 0; }
.copyright a {
  color: #ccc;
  text-decoration: none;
}

/* Button Go Top ..............................................................................*/
.go-top {
  position: fixed;
  right: 9px;
  bottom: 0;
  z-index: 999;
  display: none;
  padding: 10px 15px;
  color: #fff;
  background-color: #333;
  background-color: rgba(0,0,0,.2);
  -webkit-transition: background 0.3s ease-in-out, color 0.2s ease-in-out;
     -moz-transition: background 0.3s ease-in-out, color 0.2s ease-in-out;
      -ms-transition: background 0.3s ease-in-out, color 0.2s ease-in-out;
       -o-transition: background 0.3s ease-in-out, color 0.2s ease-in-out;
          transition: background 0.3s ease-in-out, color 0.2s ease-in-out;
}
.go-top:hover {
  color: #d9534f;
  background-color: #3a3a3a;
  background-color: rgba(0,0,0,.3)
}


/***********************************************************************************************
 9) ANIMATIONS
 ***********************************************************************************************/

.layout { overflow: hidden; }

/* Media Queries - Animations .................................................................*/
@media (min-width: 768px) {

  /* Animated Elements ........................................................................*/
  .animateblock {
    position: relative;
    opacity: 0;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
       -o-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
       -o-backface-visibility: hidden;
          backface-visibility: hidden;
  }
  .animateblock.animated { opacity: 1; }
  .animateblock.speed-1 {
    -webkit-transition: all 0.7s ease-out;
       -moz-transition: all 0.7s ease-out;
        -ms-transition: all 0.7s ease-out;
         -o-transition: all 0.7s ease-out;
            transition: all 0.7s ease-out;
  }
  .animateblock.speed-2 {
    -webkit-transition: all 0.9s ease-out;
       -moz-transition: all 0.9s ease-out;
        -ms-transition: all 0.9s ease-out;
         -o-transition: all 0.9s ease-out;
            transition: all 0.9s ease-out;
  }
  .animateblock.speed-3 {
    -webkit-transition: all 1.1s ease-out;
       -moz-transition: all 1.1s ease-out;
        -ms-transition: all 1.1s ease-out;
         -o-transition: all 1.1s ease-out;
            transition: all 1.1s ease-out;
  }

  /* Animation Transition Styles ..............................................................*/
  .animateblock.ltr-1 { left: -7%; }
  .animateblock.ltr-1.animated { left: 0; }
  .animateblock.ltr-2 { left: -12%; }
  .animateblock.ltr-2.animated { left: 0; }
  .animateblock.ltr-3 { left: -45.33333333%; }
  .animateblock.ltr-3.animated { left: -33.33333333%; }

  .animateblock.rtl-1 { right: -7%; }
  .animateblock.rtl-1.animated { right: 0; }
  .animateblock.rtl-2 { right: -12%; }
  .animateblock.rtl-2.animated { right: 0; }

  .animateblock.btt {
    -webkit-transform:translateY(20%);
       -moz-transform:translateY(20%);
        -ms-transform:translateY(20%);
         -o-transform:translateY(20%);
            transform:translateY(20%);
  }
  .animateblock.btt.animated {
    -webkit-transform:translateY(0);
       -moz-transform:translateY(0);
        -ms-transform:translateY(0);
         -o-transform:translateY(0);
            transform:translateY(0);
  }

  .animateblock.size div {
    display: block;
    text-align: center;
    -webkit-transform:scale(0.7);
       -moz-transform:scale(0.7);
        -ms-transform:scale(0.7);
         -o-transform:scale(0.7);
            transform:scale(0.7);
  }
  .animateblock.size.animated div {
    -webkit-transform:scale(1);
       -moz-transform:scale(1);
        -ms-transform:scale(1);
         -o-transform:scale(1);
            transform:scale(1);
    -webkit-transition: all 0.7s ease-out;
       -moz-transition: all 0.7s ease-out;
        -ms-transition: all 0.7s ease-out;
         -o-transition: all 0.7s ease-out;
            transition: all 0.7s ease-out;
  }
  .animateblock.size-img img {
    height: auto;
    -webkit-transform:scale(0.7);
       -moz-transform:scale(0.7);
        -ms-transform:scale(0.7);
         -o-transform:scale(0.7);
            transform:scale(0.7);
  }
  .animateblock.size-img.animated img {
    height: auto;
    -webkit-transform:scale(1);
       -moz-transform:scale(1);
        -ms-transform:scale(1);
         -o-transform:scale(1);
            transform:scale(1);
  }
}


/***********************************************************************************************
 10) PARALLAX EFFECT
 ***********************************************************************************************/

.parallax {
  position: relative;
  margin: 0 auto;
  z-index: 0;
  width: 100%;
  max-width: 1920px;
  min-height: 100%;
  background-attachment: fixed;
}


/***********************************************************************************************
 11) MODALS
 ***********************************************************************************************/
.modal-open,
.modal-open .modal { padding-right: 0 !important; }
.modal-backdrop.in { opacity: .6; }
.modal-dialog {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: table;
  margin: auto;
  width: 96%;
}

.modal .embed-responsive { position: static; }
.modal .embed-responsive:before {
  content: "VIDEO";
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  font-size: 2em;
  text-align: center;
  color: #fff;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}
