.ch-item {
    width: 95%;
    height: 95%;
    border-radius: 50%;
    position: relative;
    cursor: default;
    -webkit-perspective: 900px;
    -moz-perspective: 900px;
    -o-perspective: 900px;
    -ms-perspective: 900px;
    perspective: 900px;
}
.ch-info{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.ch-info > div {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-position: center center;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    transition: all 0.4s linear;
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

.ch-info .ch-info-front {
    box-shadow: inset 0 0 0 16px rgba(0,0,0,0.3);
}

.ch-info .ch-info-back {
    -webkit-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
    -moz-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
    -o-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
    -ms-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
    transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
    background: #000;
    opacity: 0;
    box-shadow: inset 0 0 0 16px rgba(0,0,0,0.5);
    margin:0 auto 0 auto;
}
.ch-info .ch-info-back-estate {
    background: rgb(228,20,38) !important;
}

.ch-info .ch-info-back-services {
    background: rgb(97,189,201) !important;
}
.ch-info .ch-info-back-pro {
    background: rgb(252,213,0) !important;
    font-color: black !important;
}
.ch-info .ch-info-back-pass {
    background: rgb(74,145,203) !important;
}
.ch-info .ch-info-back-people {
    background: rgb(235,94,10) !important;
}
.ch-info .ch-info-back-cubator {
    background: rgb(102,61,144) !important;
}
.ch-info .ch-info-back-novation {
    background: rgb(140,137,136) !important;
}
.ch-info .ch-info-back-logistics {
    background: rgb(44,155,55) !important;
}


.ch-img-1 { 
    background: url(../images/logos/blancos/incestate.png) center no-repeat rgb(0,0,0);
}

.ch-img-2 { 
    background: url(../images/logos/blancos/incservices.png) center no-repeat rgb(0,0,0);
}

.ch-img-3 { 
    background: url(../images/logos/blancos/incpass.png) center no-repeat rgb(0,0,0);
}
.ch-img-4 { 
    background: url(../images/logos/blancos/incpeople.png) center no-repeat rgb(0,0,0);
}
.ch-img-5 { 
    background: url(../images/logos/blancos/incpro.png) center no-repeat rgb(0,0,0);
}

.ch-img-6 { 
    background: url(../images/logos/blancos/incubator.png) center no-repeat rgb(0,0,0);
}

.ch-img-7 { 
    background: url(../images/logos/blancos/incnovation.png) center no-repeat rgb(0,0,0);
}
.ch-img-8 { 
    background: url(../images/logos/blancos/inclogistics.png) center no-repeat rgb(0,0,0);
}

.ch-info h3 {
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 24px;
    margin: 0 15px;
    padding: 30px 0 0 0;
    height: 66px;
    font-family: 'Open Sans', Arial, sans-serif;
    text-shadow: 
        0 0 1px #fff, 
        0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
    color: white;
    padding: 55px 5px !important;
    //font-style: italic;
    margin: 0 20px;
    font-size: 15px;
    //border-top: 1px solid rgba(255,255,255,0.5);
    //text-align : justify;
}
.ch-info .ch-info-back-estate p {
    padding: 60px 5px !important;

}
.ch-info .ch-info-back-pass  p {
    padding: 70px 5px !important;

}
.ch-info .ch-info-back-novation p {
    padding: 70px 5px !important;

}



.ch-info .ch-info-back-cubator p {
    padding: 50px 5px !important;
}
.ch-info .ch-info-back-pro p {
    color: black;
}

.ch-info-back p a {
    display: block !important;
    color: #fff !important;
    color: rgba(255,255,255,0.7) !important;
    font-style: normal !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    font-size: 9px !important;
    letter-spacing: 1px !important;
    padding-top: 4px !important;
    font-family: 'Open Sans', Arial, sans-serif !important;
    text-decoration: none !important;
}

.ch-info-back p a:hover {
    color: #fff222 !important;
    color: rgba(255,242,34, 0.8) !important;
    text-decoration: none !important;
}

.ch-item:hover .ch-info-front {
    -webkit-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
    -moz-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
    -o-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
    -ms-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
    transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
    opacity: 0;
}

.ch-item:hover .ch-info-back {
    -webkit-transform: rotate3d(1,0,0,0deg);
    -moz-transform: rotate3d(1,0,0,0deg);
    -o-transform: rotate3d(1,0,0,0deg);
    -ms-transform: rotate3d(1,0,0,0deg);
    transform: rotate3d(1,0,0,0deg);
    opacity: 1;
}
a {
    text-decoration: none !important;
}