/*-----------------------------------------------------------------------------------------------
Project:  Mos7 - Responsive Bootstrap 3 App Landing Page Template
Version:  1.5.3
Last change:  13/09/2015
Design by:  TemplatesPRO.com.br

Structure (line):
1) PRELOADER (45)
2) NAVBAR - NAVBAR TOGGLE (53)
    - Toggle (67)
3) SECTIONS (73)
4) HEADERS - Sections (82)
5) SLIDESHOW (89)
6) FEATURES (100)
    - Icons (103)
7) OVERVIEW (110)
    - Tabs (113)
        - Media Queries - Tabs (132)
    - Subtitles (140)
    - Icons (143)
    - Progress Bars (148)
8) STATS (153)
9) GALLERY (162)
10) TESTIMONIALS (170)
11) PRICING (182)
    - Price (193)
12) CALL TO ACTION (199)
13) TEAM (208)
14) CONTACT (228)
    - Icon (231)
    - Fonts and Fields (239)
15) FOOTER (249)
    - Social Buttons (260)
16) COPYRIGHT (269)
    - Button Go Top (275)
17) MODALS (287)
-----------------------------------------------------------------------------------------------*/

body {
  color: #ddd;
  background-color: #2f3238;
}

/***********************************************************************************************
 1) PRELOADER
 ***********************************************************************************************/

#preloader { background-color: #2f3238; }
#status { background: url(../../images/loading_dark.gif) no-repeat center center; }


/***********************************************************************************************
 2) NAVBAR - NAVBAR TOGGLE
 ***********************************************************************************************/

.navbar-default,
.navbar-collapse { background-color: #3c3f45; }
.navbar-default .navbar-nav>li>a { color: #ebebeb; }
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-nav>li>a:hover,
.navbar-nav>.active>a { background-color: #2f3238; }

/* Toggle .....................................................................................*/
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: #2f3238; }


/***********************************************************************************************
 3) SECTIONS
 ***********************************************************************************************/

.overview,
.testimonials,
.team { background-color: #26292e; }


/***********************************************************************************************
 4) HEADERS - Sections
 ***********************************************************************************************/

.section-subtitle { color: #999; }


/***********************************************************************************************
 5) SLIDESHOW
 ***********************************************************************************************/

.slideshow .panel-subscription { background-color: rgba(72, 76, 83, 0.7); }
.slideshow .panel-subscription .panel-heading {
  color: #fff;
  background-color: rgba(60, 63, 69, 0.85);
}


/***********************************************************************************************
 6) FEATURES
 ***********************************************************************************************/

/* Icons ......................................................................................*/
.features .features-icon { box-shadow: 0 0 0 1px #777; }
.features .features-wrapper:hover .features-icon { box-shadow: 0 0 0 1px #6a6a79; }
.features .features-icon:after { box-shadow: 0 0 0 4px #777; }


/***********************************************************************************************
 7) OVERVIEW
 ***********************************************************************************************/

/* Tabs .......................................................................................*/
.nav-tabs>li>a { color: #ebebeb; }
.nav-tabs>li>a:hover,
.nav-tabs>li>a:focus {
  border-color: transparent transparent transparent;
  background-color: #2f3238;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  border: 1px solid #3c3f45;
  border-bottom-color: transparent;
  color: #ebebeb;
  background-color: #3c3f45;
}
.nav-tabs.nav-justified>.active>a,
.nav-tabs.nav-justified>.active>a:hover,
.nav-tabs.nav-justified>.active>a:focus { border: 1px solid #3c3f45; }

/* Media Queries - Tabs .......................................................................*/
@media (min-width: 768px) {
  .nav-tabs.nav-justified>li>a {
    border-bottom: 1px solid #3c3f45;
    color: #ebebeb;
  }
}

/* Subtitles ..................................................................................*/
.overview .subtitle { color: #888; }

/* Icons ......................................................................................*/
.overview .overview-icon { box-shadow: 0 0 0 1px #777; }
.overview .overview-wrapper:hover .overview-icon { box-shadow: 0 0 0 1px #6a6a79; }
.overview .overview-icon:after { box-shadow: 0 0 0 4px #777; }

/* Progress Bars ..............................................................................*/
.progress { background-color: #3c3f45; }


/***********************************************************************************************
 8) STATS
 ***********************************************************************************************/

path { stroke: #777; }
.circles-text,
.stats .description { color: #ddd; }


/***********************************************************************************************
 9) GALLERY
 ***********************************************************************************************/

.gallery .slick-prev:before,
.gallery .slick-next:before { color: #bbb; }


/***********************************************************************************************
 10) TESTIMONIALS
 ***********************************************************************************************/

.testimonials .testimonials-photo { box-shadow: 0 0 0 2px #777; }
.testimonials .testimonials-controls:hover + .carousel-inner .testimonials-photo { box-shadow: 0 0 0 1px #26292e; }
.testimonials .testimonials-photo:before { box-shadow: 0 0 0 4px #777; }

.testimonials .carousel.fade blockquote { color: #bbb; }
.testimonials .carousel.fade blockquote footer { color: #999; }


/***********************************************************************************************
 11) PRICING
 ***********************************************************************************************/

.pricing .panel { background-color: rgba(255,255,255,.15); }
.pricing .panel-default>.panel-heading,
.pricing .panel-footer {
  color: #fff;
  background-color: #3c3f45;
}
.pricing .plan-features li { border-bottom: 1px solid #6a6a79; }

/* Price ......................................................................................*/
.plan-price { box-shadow: 0 0 0 2px #f5f5f5; }
.plan-price:after { box-shadow: 0 0 0 4px #777; }


/***********************************************************************************************
 12) CALL TO ACTION
 ***********************************************************************************************/

.dropdown-menu { background-color: #6a6a79; }
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus { background-color: #4d515d; }


/***********************************************************************************************
 13) TEAM
 ***********************************************************************************************/

.team .team-photo {
  border: 3px solid #26292e;
  box-shadow: inset 0 0 0 2px #777;
  background-color: #26292e;
}
.team .team-wrapper:hover .team-photo { box-shadow: 0 0 0 1px #26292e; }
.team .team-photo:before { box-shadow: 0 0 0 4px #777; }
.team .team-wrapper:hover .team-photo:after { box-shadow: 0 0 0 3px #26292e; }

.team .team-wrapper { background-color: rgba(255,255,255,.15); }

.team .team-media .team-social { background-color: rgba(0,0,0,.15); }
.team .team-media .team-social + .tooltip .tooltip-arrow { border-bottom-color: rgba(255,255,255,.15); }
.team .team-media .team-social + .tooltip .tooltip-inner { background-color: rgba(255,255,255,.15); }


/***********************************************************************************************
 14) CONTACT
 ***********************************************************************************************/

/* Icon .......................................................................................*/
.contact .map-title {
  border: 3px solid #2f3238;
  box-shadow: inset 0 0 0 1px #777;
  background-color: #2f3238;
}
.contact .map-title:hover { box-shadow: 0 0 0 1px #2f3238; }

/* Fonts and Fields ............................................................................*/
.contact .vcard { color: #777; }
.form-control {
  color: #777;
  background-color: #fff;
}
.form-control:focus { background-color: #eee; }


/***********************************************************************************************
 15) FOOTER
 ***********************************************************************************************/

.footer-logo {
  border: 5px solid #2f3238;
  background-color: #2f3238;
  box-shadow:  0 0 0 7px #2f3238;
}
.footer-logo:before { box-shadow: 0 0 0 1px rgba(0,0,0,.3); }
.footer-logo:after { box-shadow: 0 0 0 4px rgba(0,0,0,.3); }

/* Social Buttons .............................................................................*/
.social-icons .btn-social { background-color: rgba(0,0,0,.2); }
.social-icons .email:hover {
  color: #fff;
  background-color: #3c3f45;
}


/***********************************************************************************************
 16) COPYRIGHT
 ***********************************************************************************************/

.copyright {  background-color: #26292e; }
.copyright a { color: #ccc; }

/* Button Go Top ..............................................................................*/
.go-top {
  background-color: #ddd;
  background-color: rgba(0,0,0,.2);
}
.go-top:hover {
  background-color: #ccc;
  background-color: rgba(0,0,0,.3);
}


/***********************************************************************************************
 17) MODALS
 ***********************************************************************************************/

.modal-content { background-color: #484c53; }
.modal-header, .modal-footer {
  color: #fff;
  background-color: #3c3f45;
}
.modal-header { border-bottom: 1px solid #393c41; }
.modal-footer { border-top: 1px solid #393c41; }

.modal .close { color: #eee; }
