/*-----------------------------------------------------------------------------------------------
Project:  Mos7 - Responsive Bootstrap 3 App Landing Page Template
Version:  1.5.3
Last change:  13/09/2015
Design by:  TemplatesPRO.com.br

Structure (line):
1) NAVBAR (48)
2) HEADERS - Sections (61)
3) SLIDESHOW (72)
    - Slideshow Content - Buttons (75)
    - Slideshow - Countdown (93)
    - Slideshow - Indicators (96)
4) FEATURES (105)
    - Section Content - Icons (108)
    - Features Titles (112)
5) OVERVIEW (117)
    - Overview Titles (120)
    - Tab 2 (123)
    - Tab 3 (127)
6) STATS (132)
7) GALLERY (140)
    - Gallery Navigation (143)
8) TESTIMONIALS (149)
    - Testimonials Navigation and Links (152)
9) PRICING (157)
10) TEAM (168)
11) CONTACT (176)
    - Icon (179)
    - Links (183)
12) COPYRIGHT (188)
    - Button Go Top (191)
-----------------------------------------------------------------------------------------------*/

a { color: #16a085; }
.btn {
  color: #fff;
  background-color: #16a085;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.open>.dropdown-toggle.btn { background-color: #149077; }


/***********************************************************************************************
 1) NAVBAR
 ***********************************************************************************************/

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-nav>li>a:hover,
.navbar-nav>.active>a { color: #16a085; }


/***********************************************************************************************
 2) HEADERS - Sections
 ***********************************************************************************************/

.section-title {
  border-bottom: 1px solid #16a085;
  color: #16a085;
}
.section-subtitle::after { background-color: #16a085; }


/***********************************************************************************************
 3) SLIDESHOW
 ***********************************************************************************************/

/* Slideshow Content - Buttons ................................................................*/
.slideshow .btn {
  border: 2px solid #16a085;
  background-color: rgba(22, 160, 133, 0.15);
}
.slideshow .btn:hover {
  border: 2px solid #16a085;
  background-color: #16a085;
}
.slideshow .slide-form .panel .btn {
  border: 2px solid #16a085;
  background-color: #16a085;
}
.slideshow .slide-form .panel .btn:hover {
  border: 2px solid #149077;
  background-color: #149077;
}

/* Slideshow - Countdown .....................................................................*/
.slideshow .countdown .count { background-color: #16a085; }

/* Slideshow - Indicators .....................................................................*/
.slideshow .carousel-indicators li:hover { border: 1px solid #16a085; }
.slideshow .carousel-indicators .active {
  border: 1px solid #16a085;
  background-color: #16a085;
}


/***********************************************************************************************
 4) FEATURES
 ***********************************************************************************************/

/* Section Content - Icons ....................................................................*/
.features .features-icon { color: #16a085; }
.features .features-wrapper:hover .features-icon { background-color: #16a085; }

/* Features Titles ............................................................................*/
.features .features-content .title { color: #16a085; }


/***********************************************************************************************
 5) OVERVIEW
 ***********************************************************************************************/

/* Overview Titles ............................................................................*/
.overview .title { color: #16a085; }

/* Tab 2 ......................................................................................*/
.overview .overview-icon { color: #16a085; }
.overview .overview-wrapper:hover .overview-icon { background-color: #16a085; }

/* Tab 3 ......................................................................................*/
.overview .progress-bar { background-color: #16a085; }


/***********************************************************************************************
 6) STATS
 ***********************************************************************************************/

path + path { stroke: #16a085; }
.stats .description span { color: #16a085; }


/***********************************************************************************************
 7) GALLERY
 ***********************************************************************************************/

/* Gallery Navigation .........................................................................*/
.gallery .slick-dots li button:before,
.gallery .slick-dots .slick-active button:before { color: #16a085; }


/***********************************************************************************************
 8) TESTIMONIALS
 ***********************************************************************************************/

/* Testimonials Navigation and Links ..........................................................*/
.testimonials a { color: #16a085; }


/***********************************************************************************************
 9) PRICING
 ***********************************************************************************************/

.plan-price { background-color: #16a085; }
.panel:hover .plan-price { background-color: #16a085; }
.panel-popular .plan-price:before { box-shadow: 0 0 0 2px #16a085; }
.pricing .panel:hover .panel-heading { color: #16a085; }
.pricing .badge-popular { background: url(../../images/pricing/badge_popular_green_sea.png) no-repeat center center; }


/***********************************************************************************************
 10) TEAM
 ***********************************************************************************************/

.team .team-content .name { color: #16a085; }
.team .team-media .team-social { color: #16a085; }


/***********************************************************************************************
 11) CONTACT
 ***********************************************************************************************/

/* Icon .......................................................................................*/
.contact .map-title a { color: #16a085; }
.contact .map-title:hover { background-color: #16a085; }

/* Links ......................................................................................*/
.contact .vcard a { color: #16a085; }


/***********************************************************************************************
 12) COPYRIGHT
 ***********************************************************************************************/

/* Button Go Top ..............................................................................*/
.go-top:hover { color: #16a085; }
