#art-main
{
  background: #FFFFFF url('../images/page.png') repeat-x fixed;
  margin: 0 auto;
  font-size: 14px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  position: relative;
  width: 100%;
  min-height: 100%;
  left: 0;
  top: 0;
  cursor: default;
  overflow: hidden; 
}

table, ul.art-hmenu
{
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
  margin: 0;
  padding: 0;
}

.art-button
{
  border: 0;
  border-collapse: separate;
  -webkit-background-origin: border !important;
  -moz-background-origin: border !important;
  background-origin: border-box !important;
  background: #A1ADBA;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0 21px;
  margin: 0 auto;
  height: 24px;
}

.art-postcontent, .art-postheadericons, .art-postfootericons, .art-blockcontent, ul.art-vmenu a
{
  text-align: left;
}

.art-postcontent, .art-postcontent li, .art-postcontent table, .art-postcontent a, .art-postcontent a:link, .art-postcontent a:visited, .art-postcontent a.visited, .art-postcontent a:hover, .art-postcontent a.hovered
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  line-height: 120%;
}

.art-postcontent p
{
  margin: 13px 0;
}

.art-postcontent h1, .art-postcontent h1 a, .art-postcontent h1 a:link, .art-postcontent h1 a:visited, .art-postcontent h1 a:hover, .art-postcontent h2, .art-postcontent h2 a, .art-postcontent h2 a:link, .art-postcontent h2 a:visited, .art-postcontent h2 a:hover, .art-postcontent h3, .art-postcontent h3 a, .art-postcontent h3 a:link, .art-postcontent h3 a:visited, .art-postcontent h3 a:hover, .art-postcontent h4, .art-postcontent h4 a, .art-postcontent h4 a:link, .art-postcontent h4 a:visited, .art-postcontent h4 a:hover, .art-postcontent h5, .art-postcontent h5 a, .art-postcontent h5 a:link, .art-postcontent h5 a:visited, .art-postcontent h5 a:hover, .art-postcontent h6, .art-postcontent h6 a, .art-postcontent h6 a:link, .art-postcontent h6 a:visited, .art-postcontent h6 a:hover, .art-blockheader .t, .art-blockheader .t a, .art-blockheader .t a:link, .art-blockheader .t a:visited, .art-blockheader .t a:hover, .art-vmenublockheader .t, .art-vmenublockheader .t a, .art-vmenublockheader .t a:link, .art-vmenublockheader .t a:visited, .art-vmenublockheader .t a:hover, .art-headline, .art-headline a, .art-headline a:link, .art-headline a:visited, .art-headline a:hover, .art-slogan, .art-slogan a, .art-slogan a:link, .art-slogan a:visited, .art-slogan a:hover, .art-postheader, .art-postheader a, .art-postheader a:link, .art-postheader a:visited, .art-postheader a:hover
{
  font-size: 22px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  line-height: 120%;
}

.art-postcontent a, .art-postcontent a:link
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: none;
  color: #08298A;
}

.art-postcontent a:visited, .art-postcontent a.visited
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: none;
  color: #9C9C9C;
}

.art-postcontent  a:hover, .art-postcontent a.hover
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #FB7C3C;
}

.art-postcontent h1
{
  color: #6C7F93;
  margin: 10px 0 0;
  font-size: 26px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-blockcontent h1
{
  margin: 10px 0 0;
  font-size: 26px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h1 a, .art-postcontent h1 a:link, .art-postcontent h1 a:hover, .art-postcontent h1 a:visited, .art-blockcontent h1 a, .art-blockcontent h1 a:link, .art-blockcontent h1 a:hover, .art-blockcontent h1 a:visited
{
  font-size: 26px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h2
{
  color: #8D9CAA;
  margin: 0px 0 0;
  font-size: 22px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-blockcontent h2
{
  margin: 10px 0 0;
  font-size: 22px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h2 a, .art-postcontent h2 a:link, .art-postcontent h2 a:hover, .art-postcontent h2 a:visited, .art-blockcontent h2 a, .art-blockcontent h2 a:link, .art-blockcontent h2 a:hover, .art-blockcontent h2 a:visited
{
  font-size: 15px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h3
{
  color: #FB7C3C;
  margin: 10px 0 0;
  font-size: 20px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-blockcontent h3
{
  margin: 10px 0 0;
  font-size: 20px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h3 a, .art-postcontent h3 a:link, .art-postcontent h3 a:hover, .art-postcontent h3 a:visited, .art-blockcontent h3 a, .art-blockcontent h3 a:link, .art-blockcontent h3 a:hover, .art-blockcontent h3 a:visited
{
  font-size: 20px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h4
{
  color: #696969;
  margin: 10px 0 0;
  font-size: 18px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-blockcontent h4
{
  margin: 10px 0 0;
  font-size: 18px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h4 a, .art-postcontent h4 a:link, .art-postcontent h4 a:hover, .art-postcontent h4 a:visited, .art-blockcontent h4 a, .art-blockcontent h4 a:link, .art-blockcontent h4 a:hover, .art-blockcontent h4 a:visited
{
  font-size: 18px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h5
{
  color: #696969;
  margin: 10px 0 0;
  font-size: 15px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-blockcontent h5
{
  margin: 10px 0 0;
  font-size: 15px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h5 a, .art-postcontent h5 a:link, .art-postcontent h5 a:hover, .art-postcontent h5 a:visited, .art-blockcontent h5 a, .art-blockcontent h5 a:link, .art-blockcontent h5 a:hover, .art-blockcontent h5 a:visited
{
  font-size: 15px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h6
{
  color: #B8B8B8;
  margin: 10px 0 0;
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-blockcontent h6
{
  margin: 10px 0 0;
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h6 a, .art-postcontent h6 a:link, .art-postcontent h6 a:hover, .art-postcontent h6 a:visited, .art-blockcontent h6 a, .art-blockcontent h6 a:link, .art-blockcontent h6 a:hover, .art-blockcontent h6 a:visited
{
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

header, footer, article, nav, #art-hmenu-bg, .art-sheet, .art-hmenu a, .art-vmenu a, .art-slidenavigator > a, .art-checkbox:before, .art-radiobutton:before
{
  -webkit-background-origin: border !important;
  -moz-background-origin: border !important;
  background-origin: border-box !important;
}

header, footer, article, nav, #art-hmenu-bg, .art-sheet, .art-slidenavigator > a, .art-checkbox:before, .art-radiobutton:before
{
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul
{
  list-style-type: none;
}

ol
{
  list-style-position: inside;
}

html, body
{
  height: 100%;
}

body
{
  padding: 0;
  margin: 0;
  min-width: 700px;
  color: #404040;
}

.clearfix:before, .clearfix:after
{
  content: "";
  display: table;
}

.clearfix:after
{
  clear: both;
}

.cleared
{
  font: 0/0 serif;
  clear: both;
}

form
{
  padding: 0 !important;
  margin: 0 !important;
}

table.position
{
  position: relative;
  width: 100%;
  table-layout: fixed;
}

li h1, .art-postcontent li h1, .art-blockcontent li h1
{
  margin: 1px;
}

li h2, .art-postcontent li h2, .art-blockcontent li h2
{
  margin: 1px;
}

li h3, .art-postcontent li h3, .art-blockcontent li h3
{
  margin: 1px;
}

li h4, .art-postcontent li h4, .art-blockcontent li h4
{
  margin: 1px;
}

li h5, .art-postcontent li h5, .art-blockcontent li h5
{
  margin: 1px;
}

li h6, .art-postcontent li h6, .art-blockcontent li h6
{
  margin: 1px;
}

li p, .art-postcontent li p, .art-blockcontent li p
{
  margin: 1px;
}

.art-shapes
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
}

.art-slider-inner
{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.art-slidenavigator > a
{
  display: inline-block;
  vertical-align: middle;
  outline-style: none;
  font-size: 1px;
}

.art-slidenavigator > a:last-child
{
  margin-right: 0 !important;
}

.art-object292427839
{
  display: block;
  left: 92.57%;
  margin-left: -242px;
  position: absolute;
  top: 104px;
  width: 262px;
  height: 86px;
  background-image: url('../images/object292427839.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  z-index: 0;
}

.art-object1831853559
{
  display: block;
  left: 1.62%;
  margin-left: -2px;
  position: absolute;
  top: 0px;
  width: 151px;
  height: 31px;
  background-image: url('../images/object1831853559.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  z-index: 1;
}

.art-object335208168
{
  display: block;
  left: 85.78%;
  margin-left: -137px;
  position: absolute;
  top: 11px;
  width: 160px;
  height: 40px;
  background-image: url('../images/object335208168.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  z-index: 2;
}

#art-header-bg
{
  position: absolute;
  overflow: hidden;
  left: 0;
  margin: 0 auto;
  width: 100%;
  height: 250px;
  z-index: auto;
  background-position: center top;
  background-image: url('../images/header.png');
  background-repeat: no-repeat;
}

.art-sheet
{
  margin: 0 auto;
  position: relative;
  cursor: auto;
  width: 100%;
  min-width: 700px;
  max-width: 1000px;
  z-index: auto !important;
}

.art-header
{
  margin: 0 auto;
  height: 217px;
  background-image: url('../images/header.png');
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
  z-index: auto !important;
}

.responsive .art-header
{
  background-image: url('../images/header.png');
  background-position: center center;
}

.art-header>div.art-nostyle, .art-header>div.art-block, .art-header>div.art-post
{
  position: absolute;
  z-index: 101;
}

.art-nav
{
  border-bottom: 1px dotted #B5B5B5;
  margin: -20px auto 0;
  position: relative;
  z-index: 100;
  font-size: 0;
  text-align: right;
}

ul.art-hmenu a, ul.art-hmenu a:link, ul.art-hmenu a:visited, ul.art-hmenu a:hover
{
  outline: none;
  position: relative;
  z-index: 11;
}

ul.art-hmenu, ul.art-hmenu ul
{
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
}

ul.art-hmenu li
{
  position: relative;
  z-index: 5;
  display: block;
  float: left;
  background: none;
  margin: 0;
  padding: 0;
  border: 0;
}

ul.art-hmenu li:hover
{
  z-index: 10000;
  white-space: normal;
}

ul.art-hmenu:after, ul.art-hmenu ul:after
{
  content: ".";
  height: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}

ul.art-hmenu, ul.art-hmenu ul
{
  min-height: 0;
}

ul.art-hmenu
{
  display: inline-block;
  vertical-align: bottom;
}

.art-nav:before
{
  content: ' ';
}

.art-hmenu-extra1
{
  position: relative;
  display: block;
  float: left;
  width: auto;
  height: auto;
  background-position: center;
}

.art-hmenu-extra2
{
  position: relative;
  display: block;
  float: right;
  width: auto;
  height: auto;
  background-position: center;
}

.art-hmenu
{
  float: right;
}

.art-menuitemcontainer
{
  margin: 0 auto;
}

ul.art-hmenu>li
{
  margin-left: 1px;
}

ul.art-hmenu>li:first-child
{
  margin-left: 0;
}

ul.art-hmenu>li:last-child, ul.art-hmenu>li.last-child
{
  margin-right: 0;
}

ul.art-hmenu>li>a
{
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 0 8px;
  margin: 0 auto;
  position: relative; 
  display: block;
  height: 21px;
  cursor: pointer; 
  text-decoration: none;
  color: #758799;
  line-height: 21px;
  text-align: center; 
}

.art-hmenu a, .art-hmenu a:link, .art-hmenu a:visited, .art-hmenu a.active, .art-hmenu a:hover
{
  font-size: 11px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  color: #3A3A82; 
  text-align: left;
  font-weight: bold
}

ul.art-hmenu>li>a.active
{
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 0 8px;
  margin: 0 auto;
  color: #E2341D;
  text-decoration: none;
}

ul.art-hmenu>li>a:visited, ul.art-hmenu>li>a:hover, ul.art-hmenu>li:hover>a
{
  text-decoration: none;
}

ul.art-hmenu>li>a:hover, .desktop ul.art-hmenu>li:hover>a
{
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 0 8px;
  margin: 0 auto;
}

ul.art-hmenu>li>a:hover, .desktop-nav ul.art-hmenu>li:hover>a
{
  color: #E2341D;
  text-decoration: none;
}

ul.art-hmenu>li:before
{
  position: absolute;
  display: block;
  content: ' ';
  top: 0;
  left: -1px;
  width: 1px;
  height: 21px;
  background: url('../images/menuseparator.png') center center no-repeat;
}

ul.art-hmenu>li:first-child:before
{
  display: none;
}

ul.art-hmenu li li a
{
  background: #B9C2CB;
  background: transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 0 8px;
  margin: 0 auto;
}

ul.art-hmenu li li
{
  float: none;
  width: auto;
  margin-top: 2px;
  margin-bottom: 2px;
}

.desktop-nav ul.art-hmenu li li ul>li:first-child
{
  margin-top: 0;
}

ul.art-hmenu li li ul>li:last-child
{
  margin-bottom: 0;
}

.art-hmenu ul a
{
  display: block;
  white-space: nowrap;
  height: 21px;
  min-width: 7em;
  border: 0 solid transparent;
  text-align: left;
  line-height: 21px;
  color: #6A7D90;
  font-size: 10px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: none;
  margin: 0;
}

.art-hmenu ul a:link, .art-hmenu ul a:visited, .art-hmenu ul a.active, .art-hmenu ul a:hover
{
  text-align: left;
  line-height: 21px;
  color: #6A7D90;
  font-size: 10px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: none;
  margin: 0;
}

ul.art-hmenu li li:after
{
  display: block;
  position: absolute;
  content: ' ';
  height: 0;
  top: -1px;
  left: 0;
  right: 0;
  z-index: 1;
  border-bottom: 1px dotted #D1D1D1;
}

.desktop-nav ul.art-hmenu li li:first-child:before, .desktop-nav ul.art-hmenu li li:first-child:after
{
  display: none;
}

ul.art-hmenu ul li a:hover, .desktop ul.art-hmenu ul li:hover>a
{
  background: #FFFFFF;
  background: transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin: 0 auto;
}

.art-hmenu ul a:hover
{
  text-decoration: none;
}

.art-hmenu ul li a:hover
{
  color: #F05305;
}

.desktop-nav .art-hmenu ul li:hover>a
{
  color: #F05305;
}

ul.art-hmenu ul:before
{
  background: #F2F2F2;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px dotted rgba(217, 217, 217, 0.9);
  margin: 0 auto;
  display: block;
  position: absolute;
  content: ' ';
  z-index: 1;
}

.desktop-nav ul.art-hmenu li:hover>ul
{
  visibility: visible;
  top: 100%;
}

.desktop-nav ul.art-hmenu li li:hover>ul
{
  top: 0;
  left: 100%;
}

ul.art-hmenu ul
{
  visibility: hidden;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  background-image: url('../images/spacer.gif');
}

.desktop-nav ul.art-hmenu>li>ul
{
  padding: 16px 36px 36px 36px;
  margin: -10px 0 0 -30px;
}

.desktop-nav ul.art-hmenu ul ul
{
  padding: 36px 36px 36px 18px;
  margin: -36px 0 0 -5px;
}

.desktop-nav ul.art-hmenu ul.art-hmenu-left-to-right
{
  right: auto;
  left: 0;
  margin: -10px 0 0 -30px;
}

.desktop-nav ul.art-hmenu ul.art-hmenu-right-to-left
{
  left: auto;
  right: 0;
  margin: -10px -30px 0 0;
}

.desktop-nav ul.art-hmenu li li:hover>ul.art-hmenu-left-to-right
{
  right: auto;
  left: 100%;
}

.desktop-nav ul.art-hmenu li li:hover>ul.art-hmenu-right-to-left
{
  left: auto;
  right: 100%;
}

.desktop-nav ul.art-hmenu ul ul.art-hmenu-left-to-right
{
  right: auto;
  left: 0;
  padding: 36px 36px 36px 18px;
  margin: -36px 0 0 -5px;
}

.desktop-nav ul.art-hmenu ul ul.art-hmenu-right-to-left
{
  left: auto;
  right: 0;
  padding: 36px 18px 36px 36px;
  margin: -36px -5px 0 0;
}

.desktop-nav ul.art-hmenu li ul>li:first-child
{
  margin-top: 0;
}

.desktop-nav ul.art-hmenu li ul>li:last-child
{
  margin-bottom: 0;
}

.desktop-nav ul.art-hmenu ul ul:before
{
  border-radius: 2px;
  top: 30px;
  bottom: 30px;
  right: 30px;
  left: 12px;
}

.desktop-nav ul.art-hmenu>li>ul:before
{
  top: 10px;
  right: 30px;
  bottom: 30px;
  left: 30px;
}

.desktop-nav ul.art-hmenu>li>ul.art-hmenu-left-to-right:before
{
  right: 30px;
  left: 30px;
}

.desktop-nav ul.art-hmenu>li>ul.art-hmenu-right-to-left:before
{
  right: 30px;
  left: 30px;
}

.desktop-nav ul.art-hmenu ul ul.art-hmenu-left-to-right:before
{
  right: 30px;
  left: 12px;
}

.desktop-nav ul.art-hmenu ul ul.art-hmenu-right-to-left:before
{
  right: 12px;
  left: 30px;
}

.desktop-nav ul.art-hmenu>li.ext>a
{
  white-space: nowrap;
}

.desktop-nav ul.art-hmenu>li.ext>a:hover, .desktop-nav ul.art-hmenu>li.ext:hover>a, .desktop-nav ul.art-hmenu>li.ext:hover>a.active
{
  background: none;
  padding: 0 8px 0 8px;
  margin: -0 -0 0 -0;
  overflow: hidden;
  position: relative;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: #E2341D;
}

.desktop-nav ul.art-hmenu>li.ext>a:hover:before, .desktop-nav ul.art-hmenu>li.ext:hover>a:before, .desktop-nav ul.art-hmenu>li.ext:hover>a.active:before
{
  position: absolute;
  content: ' ';
  top: 0;
  right: 0;
  left: 0;
  bottom: -1px;
  background-color: #F2F2F2;
  border: 1px Dotted rgba(217, 217, 217, 0.9);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
  z-index: -1;
}

.desktop-nav ul.art-hmenu>li.ext:hover>ul
{
  padding-top: 5px;
  margin-top: 0;
}

.desktop-nav ul.art-hmenu>li.ext:hover>ul:before
{
  top: -1px;
  clip: rect(6px, auto, auto, auto);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
}

ul.art-hmenu>li.ext>.ext-r, ul.art-hmenu>li.ext>.ext-l, ul.art-hmenu>li.ext>.ext-m, ul.art-hmenu>li.ext>.ext-off
{
  display: none;
  z-index: 12;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.desktop-nav ul.art-hmenu>li.ext>ul
{
  z-index: 13;
}

.desktop-nav ul.art-hmenu>li.ext.ext-r:hover>.ext-r, .desktop-nav ul.art-hmenu>li.ext.ext-l:hover>.ext-l
{
  position: absolute;
  display: block;
  overflow: hidden;
  height: 6px;
  top: 100%;
  padding-top: 1px;
  margin-top: -1px;
}

.desktop-nav ul.art-hmenu>li.ext:hover>.ext-r:before, .desktop-nav ul.art-hmenu>li.ext:hover>.ext-l:before
{
  position: absolute;
  content: ' ';
  top: 0;
  bottom: -1px;
  background-color: #F2F2F2;
  border: 1px Dotted rgba(217, 217, 217, 0.9);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
}

.desktop-nav ul.art-hmenu>li.ext.ext-r:hover>.ext-r
{
  left: 100%;
  right: auto;
  padding-left: 0;
  margin-left: 0;
  padding-right: 1px;
  margin-right: -1px;
}

.desktop-nav ul.art-hmenu>li.ext.ext-r:hover>.ext-r:before
{
  right: 0;
  left: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
}

.desktop-nav ul.art-hmenu>li.ext.ext-l:hover>.ext-l
{
  right: 100%;
  left: auto;
  padding-right: 0;
  margin-right: 0;
  padding-left: 1px;
  margin-left: -1px;
}

.desktop-nav ul.art-hmenu>li.ext.ext-l:hover>.ext-l:before
{
  right: -1px;
  left: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 2px;
}

.desktop-nav ul.art-hmenu>li.ext:hover>.ext-m, .desktop-nav ul.art-hmenu>li.ext:hover>.ext-off
{
  position: absolute;
  display: block;
  overflow: hidden;
  height: 5px;
  top: 100%;
}

.desktop-nav ul.art-hmenu>li.ext.ext-r:hover>.ext-m
{
  left: -0;
  right: 0;
  padding-right: 0;
  padding-left: 0;
}

.desktop-nav ul.art-hmenu>li.ext:hover>.ext-off
{
  left: -0;
  right: -0;
  padding-left: 0;
  padding-right: 0;
}

.desktop-nav ul.art-hmenu>li.ext.ext-l:hover>.ext-m
{
  right: -0;
  left: 0;
  padding-left: 0;
  padding-right: 0;
}

.desktop-nav ul.art-hmenu>li.ext.ext-l.ext-r:hover>.ext-m
{
  right: -0;
  left: -0;
  padding-left: 0;
  padding-right: 0;
}

.desktop-nav ul.art-hmenu>li.ext:hover>.ext-m:before, .desktop-nav ul.art-hmenu>li.ext:hover>.ext-off:before
{
  position: absolute;
  content: ' ';
  top: -1px;
  bottom: -1px;
  background-color: #F2F2F2;
  border: 1px Dotted rgba(217, 217, 217, 0.9);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
}

.desktop-nav ul.art-hmenu>li.ext.ext-r:hover>.ext-m:before
{
  right: -1px;
  left: 0;
}

.desktop-nav ul.art-hmenu>li.ext.ext-l:hover>.ext-m:before
{
  left: -1px;
  right: 0;
}

.desktop-nav ul.art-hmenu>li.ext.ext-l.ext-r:hover>.ext-m:before
{
  left: -1px;
  right: -1px;
}

.art-layout-wrapper
{
  position: relative;
  margin: 20px auto 0 auto;
  z-index: auto !important;
}

.art-content-layout
{
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.art-content-layout-row
{
  display: table-row;
}

.art-layout-cell
{
  display: table-cell;
  vertical-align: top;
}

.art-block
{
  margin: 3px;
}

div.art-block img
{
  border: none;
  margin: 0;
}

.art-blockheader
{
  padding: 6px 5px;
  margin: 0 auto 2px;
}

.art-blockheader .t, .art-blockheader .t a, .art-blockheader .t a:link, .art-blockheader .t a:visited, .art-blockheader .t a:hover
{
  color: #758799;
  font-size: 20px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  margin: 0 5px;
}

.art-blockcontent
{
  padding: 5px;
  margin: 0 auto;
  color: #404040;
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  line-height: 175%;
}

.art-blockcontent table, .art-blockcontent li, .art-blockcontent a, .art-blockcontent a:link, .art-blockcontent a:visited, .art-blockcontent a:hover
{
  color: #404040;
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  line-height: 175%;
}

.art-blockcontent p
{
  margin: 0 5px;
}

.art-blockcontent a, .art-blockcontent a:link
{
  color: #08298A;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-blockcontent a:visited, .art-blockcontent a.visited
{
  color: #BABABA;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: none;
}

.art-blockcontent a:hover, .art-blockcontent a.hover
{
  color: #FA5705;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: none;
}

.art-block ul>li:before
{
  content: url('../images/blockbullets.png');
  margin-right: 6px;
  bottom: 2px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
  margin-left: -12px;
}

.opera .art-block ul>li:before
{
  bottom: 0;
}

.art-block li
{
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  line-height: 175%;
  color: #696969;
  margin: 5px 0 0 10px;
}

.art-block ul>li, .art-block ol
{
  padding: 0;
}

.art-block ul>li
{
  padding-left: 12px;
}

.art-breadcrumbs
{
  margin: 0 auto;
}

a.art-button, a.art-button:link, a:link.art-button:link, body a.art-button:link, a.art-button:visited, body a.art-button:visited, input.art-button, button.art-button
{
  text-decoration: none;
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  color: #FFFFFF;
  margin: 0 !important;
  overflow: visible;
  cursor: pointer;
  text-indent: 0;
  line-height: 24px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.art-button img
{
  margin: 0;
  vertical-align: middle;
}

.firefox2 .art-button
{
  display: block;
  float: left;
}

input, select, textarea
{
  vertical-align: middle;
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

.art-block select
{
  width: 96%;
}

input.art-button
{
  float: none !important;
}

.art-button.active, .art-button.active:hover
{
  background: #A1ADBA;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0 21px;
  margin: 0 auto;
}

.art-button.active, .art-button.active:hover
{
  color: #FFFFFF !important;
}

.art-button.hover, .art-button:hover
{
  background: #8A99A8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0 21px;
  margin: 0 auto;
}

.art-button.hover, .art-button:hover
{
  color: #FFFFFF !important;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
  background: #FAFAFA;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #B9C2CB;
  margin: 0 auto;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
  width: 100%;
  padding: 3px 0;
  color: #525252 !important;
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

input.art-error, textarea.art-error
{
  background: #FAFAFA;
  border: 1px solid #E2341D;
  margin: 0 auto;
}

input.art-error, textarea.art-error
{
  color: #525252 !important;
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

form.art-search input[type="text"]
{
  background: #FFFFFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #D6D6D6;
  margin: 0 auto;
  width: 100%;
  padding: 3px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #7D2B03 !important;
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

form.art-search
{
  background-image: none;
  border: 0;
  display: block;
  position: relative;
  top: 0;
  padding: 0;
  margin: 5px;
  left: 0;
  line-height: 0;
}

form.art-search input
{
  top: 0;
  right: 0;
}

form.art-search>input
{
  bottom: 0;
  left: 0;
  vertical-align: middle;
}

form.art-search input[type="submit"]
{
  margin: 0 auto;
  color: #FFFFFF !important;
  position: absolute;
  display: block;
  left: auto;
  border: none;
  background: url('../images/searchicon.png') center center no-repeat;
  width: 24px;
  height: 100%;
  padding: 0;
}

label.art-checkbox:before
{
  background: #FAFAFA;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  margin: 0 auto;
  width: 16px;
  height: 16px;
}

label.art-checkbox
{
  cursor: pointer;
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  line-height: 16px;
  display: inline-block;
}

.art-checkbox>input[type="checkbox"]
{
  margin: 0 5px 0 0;
}

label.art-checkbox.active:before
{
  background: #FC905A;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  margin: 0 auto;
  width: 16px;
  height: 16px;
  display: inline-block;
}

label.art-checkbox.hovered:before
{
  background: #D9DEE3;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  margin: 0 auto;
  width: 16px;
  height: 16px;
  display: inline-block;
}

label.art-radiobutton:before
{
  background: #FAFAFA;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0 auto;
  width: 12px;
  height: 12px;
}

label.art-radiobutton
{
  cursor: pointer;
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  line-height: 12px;
  display: inline-block;
}

.art-radiobutton>input[type="radio"]
{
  vertical-align: baseline;
  margin: 0 5px 0 0;
}

label.art-radiobutton.active:before
{
  background: #B9C2CB;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0 auto;
  width: 12px;
  height: 12px;
  display: inline-block;
}

label.art-radiobutton.hovered:before
{
  background: #D9DEE3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0 auto;
  width: 12px;
  height: 12px;
  display: inline-block;
}

.art-post
{
  padding: 5px;
}

a img
{
  border: 0;
}

.art-article img, img.art-article, .art-block img, .art-footer img
{
  margin: 7px 7px 7px 7px;
}

.art-metadata-icons img
{
  border: none;
  vertical-align: middle;
  margin: 2px;
}

.art-article table, table.art-article
{
  border-collapse: collapse;
  margin: 1px;
}

.art-post .art-content-layout-br
{
  height: 0;
}

.art-article th, .art-article td
{
  padding: 2px;
  border: solid 1px #949494;
  vertical-align: top;
  text-align: left;
}

.art-article th
{
  text-align: center;
  vertical-align: middle;
  padding: 7px;
}

pre
{
  overflow: auto;
  padding: 0.1em;
}

.preview-cms-logo
{
  border: 0;
  margin: 1em 1em 0 0;
  float: left;
}

.image-caption-wrapper
{
  padding: 7px 7px 7px 7px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-caption-wrapper img
{
  margin: 0 !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-caption-wrapper div.art-collage
{
  margin: 0 !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-caption-wrapper p
{
  font-size: 80%;
  text-align: right;
  margin: 0;
}

.art-postheader
{
  color: #696969;
  margin: 5px 10px;
  font-size: 24px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

.art-postheader a, .art-postheader a:link, .art-postheader a:visited, .art-postheader a.visited, .art-postheader a:hover, .art-postheader a.hovered
{
  font-size: 24px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

.art-postheader a, .art-postheader a:link
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: none;
  text-align: left;
  color: #FB7F41;
}

.art-postheader a:visited, .art-postheader a.visited
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: none;
  text-align: left;
  color: #8C8C8C;
}

.art-postheader a:hover, .art-postheader a.hovered
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: none;
  text-align: left;
  color: #FB7C3C;
}

.art-postheadericons, .art-postheadericons a, .art-postheadericons a:link, .art-postheadericons a:visited, .art-postheadericons a:hover
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  color: #696969;
}

.art-postheadericons
{
  display: inline-block;
  padding: 1px;
  margin: 0 0 0 10px;
}

.art-postheadericons a, .art-postheadericons a:link
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: none;
  color: #FB722D;
}

.art-postheadericons a:visited, .art-postheadericons a.visited
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: #757575;
}

.art-postheadericons a:hover, .art-postheadericons a.hover
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
  color: #E65005;
}

.art-postdateicon:before
{
  content: url('../images/postdateicon.png');
  margin-right: 6px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
  bottom: auto;
}

.opera .art-postdateicon:before
{
  bottom: 0;
}

.art-postauthoricon:before
{
  content: url('../images/postauthoricon.png');
  margin-right: 6px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
  bottom: auto;
}

.opera .art-postauthoricon:before
{
  bottom: 0;
}

.art-postediticon:before
{
  content: url('../images/system/edit.png');
  margin-right: 6px;
  bottom: 2px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
}

.opera .art-postediticon:before
{
  bottom: 0;
}

.art-postcontent ul>li:before, .art-post ul>li:before, .art-textblock ul>li:before
{
 /* content: url('../images/postbullets.png');*/ 
  margin-right: 10px; 
  bottom: 2px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
}

.opera .art-postcontent ul>li:before, .opera   .art-post ul>li:before, .opera   .art-textblock ul>li:before
{
  bottom: 0;
}

.art-postcontent li, .art-post li, .art-textblock li
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  color: #404040;
  margin: 3px 0 0 11px;
}

.art-postcontent ul>li, .art-post ul>li, .art-textblock ul>li, .art-postcontent ol, .art-post ol, .art-textblock ol
{
  padding: 0;
}

.art-postcontent ul>li, .art-post ul>li, .art-textblock ul>li
{
  padding-left: 10px;
  padding-right: 10px  
  
}

.art-postcontent ul>li:before, .art-post ul>li:before, .art-textblock ul>li:before
{
  margin-left: -20px;
}

.art-postcontent ol, .art-post ol, .art-textblock ol, .art-postcontent ul, .art-post ul, .art-textblock ul
{
  margin: 1em 0 1em 11px;
}

.art-postcontent li ol, .art-post li ol, .art-textblock li ol, .art-postcontent li ul, .art-post li ul, .art-textblock li ul
{
  margin: 0.5em 0 0.5em 11px;
}

.art-postcontent li, .art-post li, .art-textblock li
{
  margin: 3px 0 0 0;
}

.art-postcontent ol>li, .art-post ol>li, .art-textblock ol>li
{
  overflow: visible;
}

.art-postcontent ul>li, .art-post ul>li, .art-textblock ul>li
{
  overflow-x: visible;
  overflow-y: hidden;
}

blockquote
{
  background: #F2F2F2 url('../images/postquote.png') no-repeat scroll;
  padding: 10px 10px 10px 47px;
  margin: 10px 0 0 25px;
  color: #121212;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: italic;
  text-align: left;
  overflow: auto;
  clear: both;
}

blockquote a, .art-postcontent blockquote a, .art-blockcontent blockquote a, .art-footer blockquote a, blockquote a:link, .art-postcontent blockquote a:link, .art-blockcontent blockquote a:link, .art-footer blockquote a:link, blockquote a:visited, .art-postcontent blockquote a:visited, .art-blockcontent blockquote a:visited, .art-footer blockquote a:visited, blockquote a:hover, .art-postcontent blockquote a:hover, .art-blockcontent blockquote a:hover, .art-footer blockquote a:hover
{
  color: #121212;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: italic;
  text-align: left;
}

blockquote p, .art-postcontent blockquote p, .art-blockcontent blockquote p, .art-footer blockquote p
{
  margin: 0;
  margin: 5px 0;
}

.art-footer
{
  border-top: 1px dotted #BFBFBF;
  padding: 15px;
  margin: 20px auto 0;
  position: relative;
  color: #878787;
  font-size: 13px; 
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  line-height: 175%;
  text-align: center;
}

.art-footer a, .art-footer a:link, .art-footer a:visited, .art-footer a:hover, .art-footer td, .art-footer th, .art-footer caption
{
  color: #878787;
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  line-height: 175%;
}

.art-footer p
{
  padding: 0;
  text-align: center;
}

.art-footer a, .art-footer a:link
{
  color: #9C9C9C;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: none;
}

.art-footer a:visited
{
  color: #808080;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: none;
}

.art-footer a:hover
{
  color: #FB7C3C;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: underline;
}

.art-footer img
{
  border: none;
  margin: 0;
}

.art-rss-tag-icon
{
  background: url('../images/footerrssicon.png') no-repeat scroll;
  margin: 0 auto;
  min-height: 25px;
  min-width: 25px;
  display: inline-block;
  text-indent: 28px;
  background-position: left center;
}

.art-rss-tag-icon:empty
{
  vertical-align: middle;
}

.art-footer ul>li:before
{
  content: url('../images/footerbullets.png');
  margin-right: 6px;
  bottom: 2px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
  margin-left: -13px;
}

.opera .art-footer ul>li:before
{
  bottom: 0;
}

.art-footer li
{
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  color: #A53903;
}

.art-footer ul>li, .art-footer ol
{
  padding: 0;
}

.art-footer ul>li
{
  padding-left: 13px;
}

.art-page-footer, .art-page-footer a, .art-page-footer a:link, .art-page-footer a:visited, .art-page-footer a:hover
{
  font-family: Arial;
  font-size: 10px;
  letter-spacing: normal;
  word-spacing: normal;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
  color: #647587;
}

.art-page-footer
{
  position: relative;
  z-index: auto !important;
  padding: 1em;
  text-align: center !important;
  text-decoration: none;
  color: #595959;
}

img.art-lightbox
{
  cursor: pointer;
}

#art-lightbox-bg *
{
  padding: 0;
  margin: 0;
}

div#art-lightbox-bg
{
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  height: 100%;
  background-color: #000;
  opacity: 0.8;
  filter: alpha(opacity=80);
  z-index: 9999;
}

img.art-lightbox-image
{
  -webkit-transition: opacity 350ms ease-in-out;
  -moz-transition: opacity 350ms ease-in-out;
  -o-transition: opacity 350ms ease-in-out;
  -ms-transition: opacity 350ms ease-in-out;
  transition: opacity 350ms ease-in-out;
  cursor: pointer;
  z-index: 10000;
  position: fixed;
  border: 6px solid #fff;
  border-radius: 3px;
  opacity: 0;
  filter: alpha(opacity=0);
}

img.art-lightbox-image.active
{
  opacity: 1;
  filter: alpha(opacity=100);
}

.lightbox-error
{
  position: fixed;
  background: #fff;
  z-index: 100;
  opacity: 0.95;
  padding: 20px;
  border: 1px solid #b4b4b4;
  border-radius: 10px;
  box-shadow: 0 2px 5px #333;
  width: 300px;
  height: 80px;
}

.loading
{
  position: fixed;
  background: #fff url('../images/preloader-01.gif') center center no-repeat;
  width: 32px;
  height: 32px;
  z-index: 10100;
  opacity: 0.5;
  padding: 10px;
  border: 1px solid #b4b4b4;
  border-radius: 10px;
  box-shadow: 0 2px 5px #333;
}

.arrow
{
  height: 100px;
  width: 82px;
  z-index: 10003;
  position: fixed;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.arrow.left
{
  left: 9px;
}

.arrow.right
{
  right: 9px;
}

.arrow:hover
{
  opacity: 1;
  filter: alpha(opacity=100);
}

.arrow.disabled
{
  display: none;
}

.arrow-t, .arrow-b
{
  height: 6px;
  width: 30px;
  left: 26px;
  background-color: #fff;
  position: relative;
  border-radius: 3px;
}

.arrow-t
{
  top: 38px;
}

.arrow-b
{
  top: 50px;
}

.close
{
  width: 22px;
  height: 22px;
  position: fixed;
  top: 30px;
  right: 39px;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.close:hover
{
  opacity: 1;
  filter: alpha(opacity=100);
}

.close .cw, .close .ccw
{
  position: absolute;
  top: 8px;
  left: -4px;
  width: 30px;
  height: 6px;
  background-color: #fff;
  border-radius: 3px;
}

.cw
{
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}

.ccw
{
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}

.close-alt, .arrow-right-alt, .arrow-left-alt
{
  display: none;
  color: #fff;
  font-size: 2.5em;
}

.ie8 .close-alt, .ie8 .arrow-right-alt, .ie8 .arrow-left-alt
{
  display: block;
}

.ie8 .cw, .ie8 .ccw
{
  display: none;
}

.art-content-layout .art-sidebar1
{
  border-right: 1px #B5B5B5;
  margin: 0 auto;
  width: 200px;
}

.art-content-layout .art-content
{
  margin: 0 auto;
  border-left: 1px dotted #BFBFBF;
}

fieldset dl
{
  display: block;
  margin: 0;
  padding: 0;
  background: none;
}

fieldset dt
{
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 12em;
  height: 2em;
  margin: 0;
  padding: 0;
  float: left;
  clear: both;
  background: none;
  line-height: 2em;
  overflow: hidden;
}

fieldset dd
{
  display: block;
  min-height: 2em;
  margin: 0 0 0 12em;
  padding: 0;
  background: none;
  line-height: 2em;
}

fieldset label
{
  display: inline-block;
  width: 12em;
}

fieldset textarea
{
  vertical-align: text-top;
}

.img-fulltext-left, .img-intro-left
{
  float: left;
  display: block;
  border: none;
  padding: 0;
  margin: 0 0.3em 0.3em 0;
  margin-top: 0;
}

.img-fulltext-right, .img-intro-right
{
  float: right;
  display: block;
  border: none;
  padding: 0;
  margin: 0 0 0.3em 0.3em;
  margin-top: 0;
}

ul.pagenav
{
  clear: both;
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}

ul.pagenav li, ul.pagenav li:before
{
  display: block;
  background: none;
  margin: 0;
  padding: 0;
  width: 50%;
  text-align: center;
  content: normal;
}

ul.pagenav li.pagenav-prev
{
  float: left;
}

ul.pagenav li.pagenav-next
{
  margin: 0 0 0 50%;
}

div.item-page dl.tabs
{
  display: block;
  margin: 0;
  padding: 0;
}

div.item-page dl.tabs:before
{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  float: left;
  width: 1em;
  height: 2em;
  overflow: hidden;
}

div.item-page dl.tabs dt
{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  float: left;
  height: 2em;
  overflow: hidden;
  border-left: solid 1px #949494;
  border-top: solid 1px #949494;
}

div.item-page dl.tabs dt h3
{
  margin: 0;
  padding: 0 1em;
  line-height: 2em;
  font-size: 100%;
  overflow: hidden;
}

div.item-page dl.tabs dt h3 a
{
  text-decoration: none;
}

div.item-page dl.tabs:after
{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  border-left: solid 1px #949494;
  content: " ";
  overflow: hidden;
  height: 2em;
}

div.item-page div.current
{
  clear: both;
  border: solid 1px #949494;
}

div.item-page div.current dd.tabs
{
  margin: 0;
  padding: 0;
}

div.item-page .panel
{
  border: solid 1px #949494;
  margin-top: -1px;
}

div.item-page .panel h3
{
  margin: 0;
  padding: 0;
}

div.item-page .panel h3 a
{
  display: block;
  padding: 6px;
  text-decoration: none;
}

div.item-page .panel h3.pane-toggler-down a
{
  border-bottom: solid 1px #949494;
}

div.item-page .panel .pane-slider
{
  margin: 0;
  padding: 0;
}

div.item-page div.pagination ul
{
  clear: both;
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}

div.item-page div.pagination li
{
  display: block;
  width: 50%;
  margin: 0;
  padding: 0;
  text-align: center;
  float: left;
  white-space: nowrap;
}

div.item-page div.pagination:after
{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#searchForm .phrases-box
{
  display: block;
  float: left;
}

#searchForm .ordering-box
{
  text-align: right;
}

#searchForm .phrases-box label, #searchForm .ordering-box label, #searchForm .only label
{
  display: inline-block;
  width: auto;
  height: 2em;
  margin: 0;
  padding: 0 0.3em;
}

#mod-finder-searchform label
{
  display: block;
}

#mod-finder-searchform input.inputbox
{
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  max-width: 300px;
}

#login-form #form-login-username label, #login-form #form-login-password label
{
  display: block;
}

#login-form #form-login-username input, #login-form #form-login-password input
{
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  max-width: 300px;
}

.breadcrumbs img
{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

dl.stats-module
{
  padding: 0.3em 0 0.3em 0.3em;
  margin: 0;
}

dl.stats-module dt
{
  float: left;
  display: block;
  line-height: 1.5em;
  min-height: 1.5em;
  width: 10em;
  padding: 0.3em 0.3em 0 0;
  margin: 0;
  font-weight: bold;
}

dl.stats-module dd
{
  display: block;
  line-height: 1.5em;
  min-height: 1.5em;
  margin-left: 0 0 0 10em;
}

div.mod-languages ul
{
  margin: 0;
  padding: 0;
  list-style: none;
}

div.mod-languages li
{
  background: none;
  margin: 0 0.3em;
  padding: 0;
}

div.mod-languages ul.lang-inline li
{
  display: inline;
}

div.mod-languages ul.lang-block li
{
  display: block;
}

div.mod-languages img
{
  border: none;
  margin: 0;
  padding: 0;
}

div.clr
{
  clear: both;
}

#system-message ul li
{
  background-image: none;
}

ul.actions, ul.actions li, ul.actions li img
{
  display: inline;
  margin: 0;
  padding: 0;
  border: none;
}

ul.actions li
{
  background: none;
  list-style: none;
}

.items-row
{
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.items-row .item
{
  display: table-cell;
  vertical-align: top;
}

.items-row .row-separator
{
  display: none;
}

div.pagination p.counter
{
  display: inline-block;
  margin: 0 0.3em 0 0;
  padding: 0;
  background: none;
}

div.pagination ul, div.pagination ul li, div.pagination ul > li:before
{
  display: inline-block;
  list-style: none;
  margin: 0;
  /*padding: 0 0.3em;*/
  background: none;
  content: normal;
}

div.tip-wrap
{
  background: #fff;
  border: 1px solid #aaa;
}

div.tip-wrap div.tip
{
  padding: 0.3em;
}

div.tip-wrap div.tip-title
{
  font-weight: bold;
}

table.category
{
  width: 100%;
}

table.category thead th img
{
  padding: 0 0 0 0.3em;
  margin: 0;
  border: none;
}

span.hasTip a img
{
  padding: 0;
  margin: 0;
  border: none;
}

div.categories-list ul li span.item-title, div.cat-children ul li span.item-title
{
  display: block;
  margin: 0 0 0.3em 0;
}

div.categories-list ul li div.category-desc, div.cat-children ul li div.category-desc
{
  margin: 0 0 0.3em 0;
}

div.categories-list dl, div.cat-children dl
{
  display: block;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  background: none;
}

div.categories-list dl dt, div.cat-children dl dt, div.categories-list dl dd, div.cat-children dl dd
{
  display: inline-block;
  padding: 0;
  margin: 0;
  background: none;
}

div.img_caption p.img_caption
{
  padding: 0.3em 0;
  margin: 0;
}


