@font-face {
	font-family: 'finalespeople';
	src:url('fonts/finalespeople.eot?jwpkuk');
	src:url('fonts/finalespeople.eot?jwpkuk#iefix') format('embedded-opentype'),
		url('fonts/finalespeople.ttf?jwpkuk') format('truetype'),
		url('fonts/finalespeople.woff?jwpkuk') format('woff'),
		url('fonts/finalespeople.svg?jwpkuk#finalespeople') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'finalespeople' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-01:before {
	content: "\e900";
}
.icon-02:before {
	content: "\e901";
}
.icon-03:before {
	content: "\e902";
}
.icon-ALimentacion:before {
	content: "\e903";
}
.icon-Asistencia:before {
	content: "\e904";
}
.icon-beneficioscorporativos:before {
	content: "\e905";
}
.icon-datafono:before {
	content: "\e906";
}
.icon-entregadecupones:before {
	content: "\e907";
}
.icon-escogerbeneficio:before {
	content: "\e908";
}
.icon-Fechasespeciales:before {
	content: "\e909";
}
.icon-llevarcuponera:before {
	content: "\e90a";
}
.icon-Plataformadecomunicacion:before {
	content: "\e90b";
}
.icon-Redessociales:before {
	content: "\e90c";
}
.icon-Salario:before {
	content: "\e90d";
}
.icon-Tiempo:before {
	content: "\e90e";
}

